<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%
        <ul>
            <li>
                <a href="main.html">Главная</a>
            </li>
            <li>
                <a href="faq.html">Faq</a>
            </li>
            <li>
                <a href="about.html">О нас</a>
            </li>
            <li>
                <a href="services.html">Услуги</a>
            </li>
            <li>
                <a href="service.html">Услуга</a>
            </li>
            <li>
                <a href="prices.html">Цены</a>
            </li>
            <li>
                <a href="certificates.html">Сертификаты</a>
            </li>
            <li>
                <a href="articles.html">Статьи</a>
            </li>
            <li>
                <a href="article.html">Статья</a>
            </li>
            <li>
                <a href="contacts.html">Контакты</a>
            </li>
            <li>
                <a href="reviews.html">Отзывы</a>
            </li>
            <li>
                <a href="reviews-table.html">Отзывы -второй вариант</a>
            </li>
            <li>
                <a href="legal-entities.html">Юр. лицам</a>
            </li>
        </ul>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>
