// Common styles of the project

html, body {
    height: 100%;
    font-family: 'Gotham Pro';
}

.link {
    color: $blue-color;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: all 0.25s;
    font-weight: 800;

    &:hover {
        color: $blue-color;
    }
}

.border-top {
    border-top: 1px solid $border-color !important;
}

.page {
    background-color: $mail-color;
    &.fixed-header {
        padding-top: 173px;
    }

    &__title {
        margin-bottom: 46px;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }

        h2 {
            @extend %h1;
            color: $black-color;
        }
    }

    &__content {
        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 28px;
        }

        a {
            color: $blue-color;
            text-decoration: underline;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $blue-color;
            }
        }

        h3 {
            font-size: 22px;
            line-height: 24px;
            font-weight: bold;
            margin-bottom: 36px;
            color: $black-color;
            @media screen and (max-width: 768px) {
                font-size: 20px;
                line-height: 26px;
            }

            span {
                display: block;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.container {
    @media (min-width: 1200px) {
        max-width: 1230px;
    }
}

.btn {
    display: table;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0;
    transition: all 0.25s;
    width: max-content;

    &:hover {
        text-decoration: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-main {
    background-color: $red-color;
    font-size: 14px;
    line-height: 16px;
    color: $white-color;
    padding: 15px 16px;
    height: auto;
    min-height: 46px;
    font-weight: bold;

    &:hover {
        color: $white-color;
        background-color: $red-color2;
    }
}

.btn-white {
    background-color: $white-color;
    font-size: 14px;
    line-height: 16px;
    color: $red-color;
    padding: 15px 46px;
    height: auto;
    min-height: 46px;
    font-weight: bold;

    &:hover {
        color: $red-color2;
    }
}

.title-block {
    align-items: flex-end;
    margin-bottom: 41px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }

    h2 {
        @extend %h2;
        color: $black-color;
        margin-bottom: 7px;
        @media screen and (max-width: 992px) {
            font-size: 24px;
            line-height: 30px;
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__more {
        color: $blue-color;
        text-decoration: underline;
        @extend %text2;
        font-weight: bold;
        transition: all 0.25s;

        &:hover {
            color: $red-color;
        }
    }

    p {
        max-width: 900px;
        @extend %text2;
        line-height: 26px;
        margin: 35px 0 10px;

        b {
            font-weight: 500;
        }
    }
}

.breadcrumb {
    padding: 48px 0;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;

    @media screen and (max-width: 576px) {
        padding: 15px 0;
    }

    &__list {
        @include nl;
        display: flex;
        align-items: center;
        padding: 0;
        @media screen and (max-width: 576px) {
            display: none;
        }

        li {
            color: $black-color;
            font-size: 12px;
            line-height: 13px;
        }

        li a {
            text-decoration: none;
            color: $blue-color;
            font-size: 12px;
            line-height: 13px;
            padding-right: 22px;
            position: relative;
            display: block;

            &:after {
                content: '>>';
                display: block;
                font-size: 12px;
                line-height: 13px;
                color: $black-color;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 3px;
            }

            &:hover {
                text-decoration: underline;
                color: $blue-color;
            }
        }
    }
}

.form-group {
    position: relative;
    margin-bottom: 24px;

    .form-control {
        background: $white-color;
        border: 1px solid $red-color;
        border-radius: 0;
        box-sizing: border-box;
        height: 46px;
        @extend %text;
        padding: 12px 20px;
        color: $black-color;
        transition: background-color 0.25s;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            background-color: $input-bg;
        }

        &::placeholder {
            @extend %text;
            font-family: 'Gotham Pro', sans-serif;
            color: $black-color;
        }
    }

    &.custom-group {
        .form-control:focus + label {
            opacity: 1;
            visibility: hidden;
        }

        .form-control:not([value=""]) + label {
            opacity: 1;
            visibility: hidden;
        }

        label {
            display: block;
            @extend %text;
            color: $black-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 20px;
            margin: auto;
            height: max-content;

            span {
                color: $red-color;
            }
        }
    }

    textarea {
        resize: none;
        background: $white-color;
        border: 1px solid $red-color;
        @extend %text;
        padding: 19px 20px;
        color: $black-color;
        min-height: 151px;
        width: 100%;

        &::placeholder {
            color: $black-color;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            background-color: $input-bg;
        }
    }
}

.form-checkbox {
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        display: block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        max-width: 390px;
        font-size: 14px;
        line-height: 19px;

        &:after {
            @include before;
            height: 20px;
            width: 20px;
            border: 1px solid $red-color;
            position: absolute;
            top: 3px;
            left: 0;
            background-color: $white-color;
        }

        a {
            color: $blue-color;
            text-decoration: underline;
            font-size: 14px;
            line-height: 19px;
            transition: all 0.25s;

            &:hover {
                text-decoration: underline;
                color: $red-color;
            }
        }
    }

    input:checked + label:after {
        background-color: $red-color;
        background-position: center;
        background-size: 12px;
        background-repeat: no-repeat;
        background-image: url("../img/content/icon-form-check.svg");
    }
}

.swiper-button-prev, .swiper-button-next {
    width: 25px !important;
    height: 24px !important;

    &:after {
        display: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.swiper-button-prev {
    @include bg-svg($pagination-prev-bg);
}

.swiper-button-next {
    @include bg-svg($pagination-next-bg);
}

.white-bg, .white-icon {
    .swiper-button-prev {
        @include bg-svg($pagination-prev);
    }

    .swiper-button-next {
        @include bg-svg($pagination-next);
    }
}

blockquote {
    background-color: $white-color;
    @include box-shadow;
    padding: 40px 40px 40px 137px;
    display: block;
    margin-bottom: 88px;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    color: $black-color;

    @media screen and (max-width: 992px) {
        padding: 30px 38px 38px 100px;
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
        padding: 80px 10px 30px 20px;
        margin-bottom: 60px;
    }

    &:before {
        @include before;
        width: 47px;
        height: 35px;
        flex-shrink: 0;
        @include bg-svg($quote);
        margin-right: 50px;
        position: absolute;
        top: 30px;
        left: 40px;
        @media screen and (max-width: 992px) {
           left: 30px;
        }
        @media screen and (max-width: 576px) {
            left: 20px;
        }
    }

    p {
        font-size: 16px;
        line-height: 28px;
        color: $black-color;
        margin-bottom: 28px !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;

    &__prev {
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        @include bg-svg($pagination-prev-bg);
        flex-shrink: 0;
    }

    &__next {
        display: block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        @include bg-svg($pagination-next-bg);
        flex-shrink: 0;
    }

    &__count {
        font-size: 18px;
        line-height: 18px;
        color: $black-color;
        font-weight: 300;
        margin: 0 8px;
    }
}
