.icon-footer-vk {
    @include bg-svg($icon-footer-vk);
}

.icon-footer-facebook {
    @include bg-svg($icon-footer-facebook);
}

.icon-footer-ok {
    @include bg-svg($icon-footer-ok);
}

.soc-vk {
    @include bg-svg($soc-vk);
}

.soc-facebook {
    @include bg-svg($soc-facebook);
}

.soc-viber {
    @include bg-svg($soc-viber);
}
.soc-odnoklassniki {
    @include bg-svg($soc-odnoklassniki);
}

.soc-whatsapp {
    @include bg-svg($soc-whatsapp);
}

.icon-close {
    @include bg-svg($icon-close);
    height: 16px;
    width: 16px;
    &:hover {
        @include bg-svg($icon-close-hover);
        height: 16px;
        width: 16px;
    }
}

.icon-search {
    @include bg-svg($icon-search);
    &:hover {
        @include bg-svg($icon-search-hover);
    }
}
