// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@mixin full {
    height: 100%;
    width: 100%;
}

@mixin full-img {
    object-fit: cover;
    object-position: center;
}

@mixin pos-absolute {
    position: absolute;
    left: 0;
    top: 0;
}

@mixin before {
    content: '';
    display: block;
}

@mixin box-shadow {
    box-shadow: 10px 10px 0px 0px $shadow-color;
}
