$white-color: #ffffff;
$black-color: #000000;
$mail-color: #FFF9D9;
$border-color: #D5D19A;
$light-border: #CDD099;
$shadow-color: #D1C58A;
$red-color: #E80000;
$red-color2: #F90404;
$blue-color: #0060CD;
$green-color: #AFB917;
$light-border: #CDD099;
$input-bg: #FFFFE4;

$font-rodchenko: "RodchenkoC", sans-seridf;

%h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
    }
}

%h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
    }
}

%h3 {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin: 0;
}

%h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 0;
}

%text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

%text2 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

%text3 {
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.white-bg {
    background-color: $white-color;
}

.red-text {
    color: $red-color !important;
}

.mb-50 {
    margin-bottom: 50px;
}
