{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Статьи</li>
            </ul>
        </div>

        <div class="page__title">
            <h2>Интересные статьи и публикации</h2>
        </div>

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-selected="true">Дезинфекция</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" aria-selected="false">Дератизация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" aria-selected="false">Дезинсекция</a>
            </li>
        </ul>

        <div class="articles">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article4.png" alt="">
                        </div>

                        <h4>Как выглядит таракан?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article3.png" alt="">
                        </div>

                        <h4>Средства от клопов</h4>
                        <p>Клопы – это плодовитые
                            и непредсказуемые ночные паразиты, которые появляются
                            в любых помещениях независимо
                            от гигиенической чистоты…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article2.png" alt="">
                        </div>

                        <h4>Как убрать запах гари?</h4>
                        <p>Например, запах гари, который остался в квартире после неудачного приготовления пищи,
                            короткого
                            замыкания…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article1.png" alt="">
                        </div>

                        <h4>Как найти блох в своей
                            квартире?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article1.png" alt="">
                        </div>

                        <h4>Как найти блох в своей
                            квартире?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article4.png" alt="">
                        </div>

                        <h4>Как выглядит таракан?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article3.png" alt="">
                        </div>

                        <h4>Средства от клопов</h4>
                        <p>Клопы – это плодовитые
                            и непредсказуемые ночные паразиты, которые появляются
                            в любых помещениях независимо
                            от гигиенической чистоты…</p>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article4.png" alt="">
                        </div>

                        <h4>Как выглядит таракан?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article3.png" alt="">
                        </div>

                        <h4>Средства от клопов</h4>
                        <p>Клопы – это плодовитые
                            и непредсказуемые ночные паразиты, которые появляются
                            в любых помещениях независимо
                            от гигиенической чистоты…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article2.png" alt="">
                        </div>

                        <h4>Как убрать запах гари?</h4>
                        <p>Например, запах гари, который остался в квартире после неудачного приготовления пищи,
                            короткого
                            замыкания…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article1.png" alt="">
                        </div>

                        <h4>Как найти блох в своей
                            квартире?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <a href="article.html" class="main-article__item" title="">
                        <div class="main-article__image">
                            <img src="static/img/content/article1.png" alt="">
                        </div>

                        <h4>Как найти блох в своей
                            квартире?</h4>
                        <p>Блоха-это бескрылое насекомое
                            с полным превращением,
                            что подразумевает стадию развития, состоящую из трех частей…</p>
                    </a>
                </div>
            </div>

            <div class="pagination">
                <a href="#" class="pagination__prev"></a>
                <div class="pagination__count">1/14</div>
                <a href="#" class="pagination__next"></a>
            </div>
        </div>

        {{> elements/manager-price}}
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    <div class="border-top">
        {{> elements/emblem}}
    </div>
</div>

{{> footer/footer}}
