{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="articles.html">Статьи</a>
                </li>
                <li>Как найти блох в своей квартире</li>
            </ul>
        </div>

        <div class="aside-price d-block d-sm-none mb-5">
            <div class="aside-price__image">
                <img src="static/img/content/aside-price.png" alt="">
            </div>

            <div class="aside-price__header">Рассчитать<br>
                стоимость услуг!
            </div>

            <form>
                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="name" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="name">Имя <span>*</span></label>
                </div>

                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="phone">Телефон <span>*</span></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="content article">
                    <h3>Как найти блох в своей квартире?</h3>
                    <p>Если вы подозреваете, что нашли в своем жилье блох, незамедлительно приступайте к их
                        истреблению.</p>

                    <p>Однако, для благополучного истребления этих насекомых
                        мы предлагаем вам познакомиться с ними поближе, чтобы понять причины их появления и способы
                        истребления.</p>

                    <h3>Блохи, характеристики, разновидности</h3>
                    <p><b>Блоха</b> — это бескрылое насекомое с полным превращением, что подразумевает стадию развития,
                        состоящую из трех частей, а именно: яйцо из которого появляется личинка, далее кокон, из
                        которого появляется куколка и последняя стадия превращения, из куколки во взрослую особь.</p>
                    <p>Данное знание дает нам возможность распознать и истребить паразита на всех стадиях его развития,
                        нередко, столкнувшись с данной проблемой, по некомпетентности можно перепутать блох с таким
                        видом насекомых, как клопы.</p>
                    <img src="static/img/content/content-article.png" alt="" class="img-fluid">

                    <h3>По каким признакам отличить блоху от других насекомых?</h3>
                    <p>Поскольку блохи очень малы в своих размерах и практически не поддаются пристальному рассмотрению
                        без увеличительных приборов, трудно отличить
                        их от таких насекомых, как, например, клопы. Однако сделать это необходимо.</p>

                    <p>Отличительных признаков не так много, но они все же есть. Рассмотрим их поподробнее. Для блох
                        характерны длинные лапки, с помощью которых они достигают в своих прыжках достаточной высоты. У
                        клопов же вы не сможете увидеть таких лап, но скорее сможете заметить маленькие челюсти,
                        которыми насекомые добывают еду.Тело блох так же будет видимо отличаться от тельца клопа, блохи
                        часто бывают практически незаметны из-за маленького размера тела, достигающего всего от 1 до 5
                        мм.</p>

                    <blockquote>
                        <p><b>Важно знать!</b> Блохи, все-таки приемущественно обитают в кожном покрове животных и
                            лишь
                            в последнюю очередь они выбирут человеческую кожу,
                            в качестве среды обитания,поэтому при обнаружении их не ждите,пока ситуация станет
                            критичной</p>
                    </blockquote>

                    <div class="d-flex share">
                        <p>Поделиться в соц сетях:</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block">
                {{> elements/aside-price}}

                {{> elements/aside-menu}}

                {{> elements/aside-stock}}
            </div>
        </div>

        <div class="form-price border-bottom-0 pb-2 d-none d-md-block">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Рассчитать стоимость услуг дезинфектора</h2>
                    <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b>
                        быстрый
                        расчет
                        стоимости
                        услуг <b>физ.
                            лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
                </div>
            </div>

            <form>
                <div class="d-flex form-price__wrap">
                    <div class="form-row">
                        <div class="col-lg-5 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="name" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="name">Имя <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="phone" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="phone">Телефон <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    {{> elements/emblem}}
</div>

{{> footer/footer}}
