.article {
    background-color: $white-color;
    padding: 48px 38px;
    @media screen and (max-width: 992px) {
        margin-bottom: 48px;
        padding: 38px 26px;
    }
    @media screen and (max-width: 768px) {
        background-color: transparent;
        padding: 0;
    }

    h3 {
        @extend %h3;
        line-height: 30px;
        color: $black-color;
        margin-bottom: 28px;
        margin-top: 10px;
        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;
            margin-top: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    h6 {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $black-color;
        margin-bottom: 28px;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: $black-color;
        margin-bottom: 28px;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    img {
        display: block;
        margin: 48px 0;
        @media screen and (max-width: 768px) {
            margin: 30px 0 48px;
        }
    }

    blockquote {
        border: 1px solid $red-color;
        box-shadow: none;
        margin: 48px 0;
        display: block;
        position: relative;
    }

    &__contact {
        margin: 40px 0 36px;
        @media screen and (max-width: 576px) {
            margin: 30px 0 0;
        }

        &--wrap {
            align-items: flex-start;
            @media screen and (max-width: 576px) {
                flex-direction: column;
            }
        }

        &--col {
            flex-shrink: 0;
            margin-right: 44px;
            @media screen and (max-width: 576px) {
                margin-right: 0;
                margin-bottom: 12px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        p {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 12px;
            font-weight: 300;

            a {
                color: $red-color;
                transition: all 0.25s;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: $red-color2;
                    text-decoration: none;
                }
            }
        }

        b {
            font-weight: bold;
        }
    }
}

.articles {
    border-bottom: 1px solid $border-color;
    padding-bottom: 47px;

    .pagination {
        margin-top: 48px;
    }
}

.share {
    padding: 30px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    align-items: center;

    @media screen and (max-width: 768px) {
        display: none !important;
    }

    p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }
}
