.legal {
    &__info {
        padding-top: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid $border-color;
        justify-content: space-between;
        margin-bottom: 48px;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        &--item {
            margin-bottom: 40px;
            flex-shrink: 0;
            @media screen and (max-width: 768px) {
                width: 45% !important;
            }
            @media screen and (max-width: 576px) {
                width: 150px !important;
                margin: 0 auto 40px;
            }
            &.item1 {
                width: 148px;
            }
            &.item2 {
                width: 135px;
            }
            &.item3 {
                width: 103px;
            }
            &.item4 {
                width: 95px;
            }
        }

        &--header {
            border-bottom: 5px solid $red-color;
            margin-bottom: 18px;
        }

        &--icon {
            height: 54px;
            position: relative;

            img {
                max-width: 48px;
                max-height: 38px;
            }
        }

        &--content {
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            text-decoration-line: underline;

            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                text-decoration-line: underline;
                margin-bottom: 0;
            }
        }
    }
}
