<footer class="footer">
    <div class="container">
        <div class="d-flex footer__line">
            <a href="main.html" title="logo" class="footer__logo">
                <img src="static/img/general/logo.svg" alt="logo">
            </a>

            <ul class="footer__soc">
                <li>
                    <a href="#" class="icon-footer-vk"></a>
                </li>
                <li>
                    <a href="#" class="icon-footer-facebook"></a>
                </li>
                <li>
                    <a href="#" class="icon-footer-ok"></a>
                </li>
            </ul>

            <div class="footer__line--col2">
                <p><b>Режим работы:</b></p>
                <p>Пн-Вс с 09.00 до 21.00</p>
            </div>

            <div class="footer__line--col3">
                <p><b>СПБ: </b><a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></p>
                <p>Круглосуточно</p>
            </div>

            <div class="footer__line--col4">
                <p><a href="tel:8 800 301 04 53">8 800 301 04 53</a></p>
                <p>Бесплатно по всей Росии</p>
            </div>

            <a href="#" class="btn btn-main">Заказать звонок</a>
        </div>

        <div class="d-flex footer__main">
            <div class="footer__main--text"><b>© 2019 «РСС». Все права защищены.</b><br>
                Полная или частичная перепечатка материалов<br>
                сайта - запрещается. Не является публичной офертой.
            </div>

            <div class="footer__menu-wrap">
                <ul class="footer__menu">
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li>
                        <a href="#">Статьи</a>
                    </li>
                    <li>
                        <a href="#">Юр. лицам</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li>
                        <a href="#">Цены</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Сертификаты</a>
                    </li>
                </ul>
            </div>

            <ul class="footer__soc">
                <li>
                    <a href="#" class="icon-footer-vk"></a>
                </li>
                <li>
                    <a href="#" class="icon-footer-facebook"></a>
                </li>
                <li>
                    <a href="#" class="icon-footer-ok"></a>
                </li>
            </ul>

            <div class="footer__search"></div>
        </div>
    </div>
</footer>
