.footer {
    background-color: $white-color;
    border-top: 1px solid $border-color;
    $f: &;

    &__logo {
        display: block;
        width: 193px;
        margin-right: auto;
        @media screen and (max-width: 992px) {
            width: 224px;
            order: 1;
        }
        @media screen and (max-width: 768px) {
            width: 180px;
        }

        @media screen and (max-width: 576px) {
            width: 224px;
        }

        img {
            width: 100%;
        }
    }

    &__line {
        padding: 48px 0 19px;
        align-items: center;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 992px) {
            padding: 38px 0;
            justify-content: space-between;
        }

        @media screen and (max-width: 576px) {
            padding: 30px 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .btn {
            @media screen and (max-width: 992px) {
                order: 3;
                margin-left: auto;
            }

            @media screen and (max-width: 576px) {
                display: none;
            }
        }

        #{$f}__soc {
            display: none;

            @media screen and (max-width: 992px) {
                display: flex;
                order: 2;
                margin: auto;
                min-width: 30%;
                justify-content: center;
            }

            @media screen and (max-width: 576px) {
                display: none;
            }
        }

        &--col2 {
            padding: 0 32px;
            @media screen and (max-width: 1200px) {
                order: 5;
                padding: 0;
                display: flex;
                margin-top: 10px;
                p {
                    padding-right: 5px;
                }
            }
            @media screen and (max-width: 992px) {
                order: 6;
                display: block;
                margin-top: 15px;
                p {
                    padding-right: 0;
                }
            }
            @media screen and (max-width: 768px) {
                display: none;
            }

            @media screen and (max-width: 576px) {
                display: block;
                margin-top: 20px;
            }
        }

        &--col3 {
            padding: 0 32px;
            border-left: 1px solid #C4C2A2;
            border-right: 1px solid #C4C2A2;
            @media screen and (max-width: 1200px) {
                padding: 0 22px;
            }
            @media screen and (max-width: 992px) {
                order: 5;
                padding: 0;
                margin-top: 15px;
                border: none;
            }

            @media screen and (max-width: 576px) {
                margin-top: 20px;
                order: 4;
            }
        }

        &--col4 {
            padding: 0 32px;
            margin-right: 10px;
            @media screen and (max-width: 1200px) {
                padding: 0 22px;
            }
            @media screen and (max-width: 992px) {
                order: 4;
                padding: 0;
                margin-top: 15px;
                margin-right: 0;
            }

            @media screen and (max-width: 576px) {
                margin-top: 20px;
                order: 5;
            }
        }

        p {
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: $black-color;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $red-color;
                text-decoration: none;
                font-weight: 800;
                transition: all 0.25s;

                &:hover {
                    text-decoration: underline;
                    color: $red-color2;
                }
            }
        }

        b {
            font-weight: 700;
        }
    }

    &__main {
        padding: 48px 0;
        border-top: 1px solid $border-color;
        align-items: flex-start;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            padding: 38px 0 48px;
        }

        @media screen and (max-width: 576px) {
            padding: 30px 0;
        }

        &--text {
            @extend %text;
            @media screen and (max-width: 1200px) {
                width: 240px;
                font-size: 12px;
                line-height: 16px;
                flex-shrink: 0;
                br {
                    display: none;
                }
            }
            @media screen and (max-width: 992px) {
                width: 440px;
                b {
                    display: block;
                }
            }

            @media screen and (max-width: 576px) {
                width: 100%;
            }

            b {
                font-weight: 500;
            }
        }

        #{$f}__soc {
            @media screen and (max-width: 992px) {
                display: none;
            }
        }
    }

    &__soc {
        @include nl;
        display: flex;
        align-items: center;

        li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    &__menu-wrap {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__menu {
        @include nl;
        width: 120px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            width: 100px;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            display: block;
            font-size: 14px;
            line-height: 15px;
            color: $black-color;
            text-decoration: none;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $red-color;
            }
        }
    }

    &__search {
        flex-shrink: 0;
        width: 22px;
        height: 22px;
        cursor: pointer;
        position: relative;
        @include bg-svg($icon-search);
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}
