<div class="aside-stock">
    <div class="aside-stock__header">
        <div class="icon-star"></div>
        Акция
    </div>

    <div class="aside-stock__image">
        <img src="static/img/content/aside-stock.png" alt="">
        <h2>Уничтожение
            постельных клопов
            по низкой цене!</h2>
    </div>

    <div class="aside-stock__body">
        <div class="d-flex aside-stock__info">
            <div class="old-price">3000 ₽</div>
            <div class="price">2000 ₽</div>
            <div class="aside-stock__info--image">
                <img src="static/img/content/aside-bug.png" alt="">
            </div>
        </div>

        <form>
            <div class="form-group custom-group">
                <input type="text" placeholder="" class="form-control" id="name" value=""
                       onchange="this.setAttribute('value', this.value);">
                <label for="name">Имя <span>*</span></label>
            </div>

            <div class="form-group custom-group">
                <input type="text" placeholder="" class="form-control" id="phone" value=""
                       onchange="this.setAttribute('value', this.value);">
                <label for="phone">Телефон <span>*</span></label>
            </div>

            <button type="submit" class="btn btn-main">Заказать услугу</button>
        </form>
    </div>
</div>
