<div class="aside-menu">
    <div class="aside-menu__header">Дезинсекция</div>

    <div class="aside-menu__image">
        <img src="static/img/content/" alt="">
    </div>

    <ul>
        <li>
            <a href="#">Уничтожаем клопов</a>
        </li>
        <li>
            <a href="#">Уничтожаем тараканов</a>
        </li>
        <li>
            <a href="#">Уничтожаем муравьев</a>
        </li>
        <li>
            <a href="#">Уничтожаем клещей</a>
        </li>
        <li>
            <a href="#">Уничтожаем мух</a>
        </li>
        <li>
            <a href="#">Уничтожаем ос</a>
        </li>
        <li>
            <a href="#">Уничтожаем короеда</a>
        </li>
        <li>
            <a href="#">Уничтожаем чешуйниц</a>
        </li>
        <li>
            <a href="#">Обработка участков</a>
        </li>
        <li>
            <a href="#">Уничтожаем пауков</a>
        </li>
        <li>
            <a href="#">Уничтожаем моль</a>
        </li>
        <li>
            <a href="#">Уничтожаем жуков</a>
        </li>
    </ul>
</div>
