<div class="aside-price">
    <div class="aside-price__image">
        <img src="static/img/content/aside-price.png" alt="">
    </div>

    <div class="aside-price__header">Рассчитать<br>
        стоимость услуг!</div>

    <form>
        <div class="form-group custom-group">
            <input type="text" placeholder="" class="form-control" id="name" value=""
                   onchange="this.setAttribute('value', this.value);">
            <label for="name">Имя <span>*</span></label>
        </div>

        <div class="form-group custom-group">
            <input type="text" placeholder="" class="form-control" id="phone" value=""
                   onchange="this.setAttribute('value', this.value);">
            <label for="phone">Телефон <span>*</span></label>
        </div>

        <button type="submit" class="btn btn-main">Заказать расчет</button>
    </form>
</div>
