<div class="consultation">
    <h3>Бесплатно проконсультирую!</h3>

    <div class="d-flex consultation__wrap">
        <div class="consultation__manager">
            <div class="consultation__ava">
                <img src="static/img/content/con-ava.png" alt="">
            </div>
            <h6>Амосов<br>
                Владимир</h6>
            <p>Старший Дезинфектор
                стаж работы 12 лет</p>
        </div>

        <div class="consultation__form">
            <div class="form-group custom-group">
                <label>Имя <span>*</span></label>
                <input type="text" name="" value="" class="form-control">
            </div>
            <div class="form-group custom-group">
                <label>Телефон <span>*</span></label>
                <input type="text" name="" value="" class="form-control">
            </div>

            <button type="submit" class="btn btn-white">Отправить</button>
        </div>
    </div>
</div>
