.form-price {
    padding: 78px 0 58px;
    border-bottom: 1px solid $light-border;

    h2 {
        @extend %h2;
        margin-bottom: 28px;
        color: $black-color;
    }

    p {
        @extend %text3;
        color: $black-color;

        b {
            font-weight: 500;
        }
    }

    &__wrap {
        margin-top: 48px;
        background-color: $white-color;
        padding: 48px 78px;
        box-shadow: 10px 10px 0px 0px $shadow-color;
        @media screen and (max-width: 1200px) {
            padding: 48px 38px;
        }

        @media screen and (max-width: 992px) {
            padding: 38px 28px;
        }

        .form-row {
            width: 100%;
        }
    }
}

.aside-price {
    background-color: $white-color;
    box-shadow: 10px 10px 0px 0px $shadow-color;
    padding: 38px 38px 30px;
    position: relative;
    margin-bottom: 58px;

    @media screen and (max-width: 1200px) {
        margin-bottom: 48px;
    }
    @media screen and (max-width: 576px) {
        padding: 30px 20px;
    }

    .btn {
        @media screen and (max-width: 576px) {
            width: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 3px;
        right: 30px;
        height: 113px;

        img {
            height: 100%;
        }
    }

    &__header {
        margin-bottom: 34px;
        @extend %h4;
        color: $black-color;
    }
}

.aside-stock {
    background-color: $white-color;
    box-shadow: 10px 10px 0px 0px $shadow-color;
    position: relative;
    margin-bottom: 58px;
    @media screen and (max-width: 1200px) {
        margin-bottom: 48px;
    }
    @media screen and (max-width: 992px) {
        max-width: 355px;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 18px 24px;
        color: $red-color;
        font-size: 32px;
        line-height: 37px;
        font-weight: bold;
        @media screen and (max-width: 1200px) {
            padding: 20px 10px 10px
        }

        .icon-star {
            width: 72px;
            height: 72px;
            flex-shrink: 0;
            @include bg-svg($aside-star);
        }
    }

    &__image {
        height: 177px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        padding: 0 38px;
        @media screen and (max-width: 1200px) {
            padding: 0 18px 0 20px;
        }

        img {
            @include full;
            @include pos-absolute;
            @include full-img;
        }

        h2 {
            color: $white-color;
            font-size: 28px;
            line-height: 31px;
            font-weight: 800;
        }
    }

    &__body {
        padding: 0 38px 38px;
        @media screen and (max-width: 1200px) {
            padding: 0 20px 40px;
        }
    }

    &__info {
        align-items: center;
        margin-bottom: 18px;

        .old-price {
            font-size: 22px;
            line-height: 26px;
            font-weight: bold;
            text-decoration-line: line-through;
            color: $black-color;
            margin-right: 12px;
        }

        .price {
            color: $red-color;
            font-size: 28px;
            line-height: 33px;
            font-weight: bold;
        }

        &--image {
            width: 66px;
            height: 66px;
            flex-shrink: 0;
            margin-left: auto;
            @media screen and (max-width: 1200px) {
                display: none;
            }

            img {
                width: 100%;
            }
        }
    }
}


.manager-price {
    padding: 78px 0 88px;
    position: relative;
    @media screen and (max-width: 1200px) {
        padding: 78px 0 58px;
    }

    @media screen and (max-width: 576px) {
        padding: 58px 0 30px;
    }

    .aside-price {
        margin-bottom: 0;
    }

    &__image {
        width: 245px;
        height: 326px;
        position: absolute;
        bottom: 0;
        right: 57px;

        @media screen and (max-width: 1200px) {
            width: 230px;
            height: 306px;
            right: 13px;
        }
        @media screen and (max-width: 992px) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        margin-bottom: 48px;
        position: relative;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }

        h2 {
            @extend %h2;
            margin-bottom: 28px;
            color: $black-color;
            @media screen and (max-width: 768px) {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 20px;
            }
        }

        p {
            @extend %text3;
            color: $black-color;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }

            b {
                font-weight: 500;
            }
        }
    }

    &__form {
        background-color: $white-color;
        @include box-shadow;
        padding: 58px 347px 58px 78px;
        position: relative;

        @media screen and (max-width: 1200px) {
            padding: 38px 271px 38px 38px;
        }
        @media screen and (max-width: 992px) {
            padding: 38px;
        }

        &--footer {
            justify-content: space-between;

            .btn {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}

.aside-menu {
    padding: 38px;
    background-color: $white-color;
    margin-bottom: 58px;
    @include box-shadow;
    @media screen and (max-width: 1200px) {
        margin-bottom: 48px;
    }

    &__header {
        @extend %h4;
        padding-bottom: 20px;
        border-bottom: 4px solid $red-color;
    }

    &__image {
        background-image: url("../img/content/bg-img.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        width: 125px;
        height: 70px;
        margin: 28px 0;
    }

    ul {
        @include nl;

        li {
            position: relative;
            margin-bottom: 14px;
            padding-left: 20px;

            &:after {
                @include before;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $red-color;
                position: absolute;
                left: 0;
                top: 6px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            display: block;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            color: $black-color;
            text-decoration-line: underline;
            transition: all 0.25s;

            &:hover {
                color: $red-color;
            }
        }
    }
}

.emblems {
    &__wrap {
        padding: 48px 0;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $border-color;
    }

    &__image {
        display: block;
        width: 80px;
        margin: 0 28px;
    }
}

.consultation {
    margin-bottom: 58px;
    @media screen and (max-width: 1200px) {
        max-width: 326px;
        width: 100%;
    }
    h3 {
        color: $red-color;
        font-size: 22px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 28px;
    }

    &__wrap {
        background-color: $red-color;
        padding: 38px 38px 48px;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }
        @media screen and (max-width: 576px) {
            padding: 38px 20px 48px;
        }
    }

    &__manager {
        width: 200px;
        margin-right: 5px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            margin-bottom: 25px;
        }

        h6 {
            color: $white-color;
            font-size: 16px;
            line-height: 19px;
            position: relative;
            margin-bottom: 16px;
            font-weight: bold;

            &:after {
                content: '';
                display: block;
                width: 86px;
                height: 3px;
                background-color: $white-color;
                left: 0;
                bottom: -10px;
                position: absolute;
            }
        }

        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
            font-weight: bold;
            color: $white-color;
        }
    }

    &__ava {
        width: 107px;
        height: 107px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;

        img {
            margin: 0;
            @include full;
            @include full-img;
        }
    }

    &__form {
        flex-grow: 1;

        .btn {
            margin-right: 0;
            margin-left: auto;
            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }
    }
}
