<div class="emblems">
    <div class="container">
        <div class="d-flex emblems__wrap">
            <img src="static/img/content/gerb1.png" alt="" class="emblems__image">
            <img src="static/img/content/gerb2.png" alt="" class="emblems__image">
        </div>
    </div>
</div>
