<div class="form-price">
    <div class="row">
        <div class="col-lg-9">
            <h2>Рассчитать стоимость услуг дезинфектора</h2>
            <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b> быстрый
                расчет
                стоимости
                услуг <b>физ.
                    лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
        </div>
    </div>

    <form>
        <div class="d-flex form-price__wrap">
            <div class="form-row">
                <div class="col-lg-5 col-md-4">
                    <div class="form-group mb-0 custom-group">
                        <input type="text" placeholder="" class="form-control" id="name" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="name">Имя <span>*</span></label>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group mb-0 custom-group">
                        <input type="text" placeholder="" class="form-control" id="phone" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="phone">Телефон <span>*</span></label>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                </div>
            </div>
        </div>
    </form>
</div>
