<div class="manager-price">
    <div class="manager-price__content">
        <div class="row">
            <div class="col-lg-9">
                <h2>Рассчитать стоимость услуг дезинфектора</h2>
                <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b> быстрый
                    расчет
                    стоимости
                    услуг <b>физ.
                        лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
            </div>
        </div>
    </div>

    <form>
        <div class="manager-price__form d-none d-sm-block">
            <div class="manager-price__image">
                <img src="static/img/content/manager.png" alt="">
            </div>

            <div class="form-row">
                <div class="col-xl-7 col-sm-6">
                    <div class="form-group custom-group">
                        <input type="text" placeholder="" class="form-control" id="name" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="name">Имя <span>*</span></label>
                    </div>
                </div>

                <div class="col-xl-5 col-sm-6">
                    <div class="form-group  custom-group">
                        <input type="text" placeholder="" class="form-control" id="phone" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="phone">Телефон <span>*</span></label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <textarea placeholder="Опишите вашу заявку"></textarea>
                    </div>
                </div>
            </div>

            <div class="d-flex manager-price__form--footer">
                <div class="form-checkbox">
                    <input type="checkbox" id="check" name="checkbox">
                    <label for="check">Нажимая на кнопку «Отправить запрос»,
                        вы принимаете условия <a href="#">обработки информации</a></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </div>
        </div>

        <div class="aside-price d-block d-sm-none">
            <div class="aside-price__image">
                <img src="static/img/content/aside-price.png" alt="">
            </div>

            <div class="aside-price__header">Рассчитать<br>
                стоимость услуг!</div>

            <form>
                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="name" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="name">Имя <span>*</span></label>
                </div>

                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="phone">Телефон <span>*</span></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </form>
        </div>
    </form>
</div>
