{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>О нас</li>
            </ul>
        </div>

        <div class="aside-price d-block d-sm-none mb-5">
            <div class="aside-price__image">
                <img src="static/img/content/aside-price.png" alt="">
            </div>

            <div class="aside-price__header">Рассчитать<br>
                стоимость услуг!</div>

            <form>
                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="name" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="name">Имя <span>*</span></label>
                </div>

                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="phone">Телефон <span>*</span></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </form>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="article">
                    <h3>Региональная санитарная служба</h3>
                    <h6>Наша служба, вот уже много лет, занимается успешной работой на рынке санитарных услуг,
                        предоставляя
                        квалифицированную помощь населению
                        и организациям Санкт-Петербурга и Ленинградской области.</h6>

                    <p>Обращаясь к нам, вы всегда можете рассчитывать на профессиональный подход
                        в решении любых проблем связанных с уничтожением всех видов бытовых насекомых, грызунов и прочих
                        вредителей.</p>

                    <p>Наш основной принцип — это качественная работа на результат.
                        За годы работы в этом смогли убедиться тысячи довольных клиентов.
                        Обращайтесь к профессионалам, экономьте свои время и деньги.</p>

                    <h3>Мы обслуживаем!</h3>
                    <p><b>Работаем во всех районах Санкт-Петербурга</b>: Адмиралтейский, Василеостровский, Выборгский,
                        Калининский, Кировский, Колпинский, Красногвардейский, Кронштадский, Красносельский, Курортный,
                        Невский, Московский, Петроградский, Петродворцовый, Приморский, Пушкинский, Фрунзенский,
                        Центральный.

                    </p>
                    <p><b>Работаем в Ленинградской области</b>: Колпино, Сестрорецк, Тосно, Пушкин, Гатчина, Петергоф,
                        Всеволожск, Сертолово, Шушары, Ломоносов, Металлострой, Кировск, Отрадное, Коммунар, Никольское,
                        Парголово, Павловск, Шлиссельбург, Стрельна, поселок имени Морозова, Мурино, Новое Девяткино,
                        Кузьмоловский, Зеленогорск, Рощино, Токсово, Агалатово, Лесколово, Гарболово, Парклесхоз, Рахья,
                        Щеглово, Романовка, Первомайское, СЭС Вырица, Сиверский, Волосово, Большая Ижора, Ульяновка,
                        Любань,
                        Мга и другие города ЛО.</p>

                    <div class="article__contact">
                        <h3>Звоните прямо сейчас!</h3>
                        <div class="d-flex article__contact--wrap">
                            <div class="article__contact--col">
                                <p><b>СПБ:</b> <a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></p>
                            </div>

                            <div class="article__contact--col">
                                <p><b>Режим работы:</b></p>
                                <p>Пн-Вс с 09.00 до 21.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex share">
                        <p>Поделиться в соц сетях:</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-none d-lg-block">
                {{> elements/aside-price}}
                {{> elements/aside-stock}}
            </div>
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    <div class="emblems">
        <div class="container">
            <div class="d-flex emblems__wrap border-0">
                <img src="static/img/content/gerb1.png" alt="" class="emblems__image">
                <img src="static/img/content/gerb2.png" alt="" class="emblems__image">
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
