<div class="header-wrap">
    <header class="header">
        <div class="container">
            <div class="d-flex header__wrap">
                <div class="header__burger-wrap">
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    Меню
                </div>

                <div class="header__col header__col1">
                    <p><b>Режим работы:</b></p>
                    <p>Пн-Вс с 09.00 до 21.00</p>
                </div>

                <div class="header__col header__col2">
                    <p><b>СПБ: <a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></b></p>
                    <p>Круглосуточно</p>
                </div>

                <a href="main.html" class="header__logo">
                    <img src="static/img/general/logo.svg" alt="logo">
                </a>

                <div class="header__col header__col3">
                    <p><b><a href="tel:8 800 301 04 53">8 800 301 04 53</a></b></p>
                    <p>Бесплатно по всей Росии</p>
                </div>

                <div class="header__col4 call-form__wrap">
                    <div class="btn btn-main js-call-form">Заказать звонок</div>

                    <div class="call-form">
                        <div class="call-form__close"></div>
                        <div class="call-form__body">
                            <div class="call-form__title">Введите данные и мы
                                Вам перезвоним!
                            </div>
                            <form>
                                <div class="form-group custom-group">
                                    <label>Имя <span>*</span></label>
                                    <input class="form-control" type="text" name="" placeholder="" value="">
                                </div>
                                <div class="form-group custom-group">
                                    <label>Телефон <span>*</span></label>
                                    <input class="form-control" type="text" name="" placeholder="" value="">
                                </div>
                                <button type="submit" class="btn btn-main">Позвоните мне</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="header__nav">
        <div class="container">
            <ul class="header__menu">
                <li>
                    <a href="main.html" class="active">Главная</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="about.html">О нас</a>
                </li>

                <li class="divider"></li>

                <li class="has-child">
                    <a href="services.html">Услуги</a>

                    <div class="sub-menu">
                        <div class="sub-menu__col">
                            <div class="sub-menu__title">Дезинсекция</div>
                            <ul class="sub-menu__ul">
                                <li>
                                    <a href="service.html">Уничтожаем клопов</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем тараканов</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем муравьев</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем клещей</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем мух</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем ос</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем короеда</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем чешуйниц</a>
                                </li>
                                <li>
                                    <a href="service.html">Обработка участков</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем пауков</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем моль</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем жуков</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu__col">
                            <div class="sub-menu__title">Дезинфекция</div>
                            <ul class="sub-menu__ul">
                                <li>
                                    <a href="service.html">Дезинфекция бытовых
                                        помещений</a>
                                </li>
                                <li>
                                    <a href="service.html">Дезинфекция
                                        автотранспорта</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем плесень</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем бактерии</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем вирусы</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем запахи</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем грибки</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем запахи
                                        в холодильнике</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu__col">
                            <div class="sub-menu__title">Дератизация</div>
                            <ul class="sub-menu__ul">
                                <li>
                                    <a href="service.html">Уничтожаем крыс</a>
                                </li>
                                <li>
                                    <a href="service.html">Уничтожаем мышей</a>
                                </li>
                                <li>
                                    <a href="service.html">Борьба с кротами</a>
                                </li>
                                <li>
                                    <a href="service.html">Договор на дератизацию</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sub-menu__col">
                            <div class="sub-menu__title">Для Юридических лиц</div>
                            <ul class="sub-menu__ul">
                                <li>
                                    <a href="#">Документы для СЭЗ</a>
                                </li>
                                <li>
                                    <a href="#">Санитарный аудит</a>
                                </li>
                                <li>
                                    <a href="#">Договора для Роспотреб-
                                        надзора</a>
                                </li>
                                <li>
                                    <a href="#">Договор на дератизацию</a>
                                </li>
                                <li>
                                    <a href="#">Обработка строительных
                                        бытовок и временных
                                        сооружений</a>
                                </li>
                                <li>
                                    <a href="#">Фумигация помещений</a>
                                </li>
                                <li>
                                    <a href="#">Газация складских
                                        помещений</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="prices.html">Цены</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="articles.html">Статьи</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="legal-entities.html">Юр. лицам</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="reviews.html">Отзывы</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="faq.html">FAQ</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="certificates.html">Сертификаты</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="contacts.html">Контакты</a>
                </li>

                <li class="divider"></li>

                <li>
                    <a href="#" class="icon-search js-header-search"></a>
                </li>
            </ul>
        </div>

        <div class="header-search">
            <div class="container">
                <div class="header-search__form">
                    <form>
                        <div class="form-group mb-0">
                            <input type="text" placeholder="Поиск" name="" value="" class="form-control">
                        </div>
                    </form>

                    <div class="header-search__close icon-close"></div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="mobile-menu">
    <div class="mobile-menu__container">
        <div class="mobile-menu__close"></div>
        <div class="header-search__form">
            <form>
                <div class="form-group mb-0">
                    <input type="text" placeholder="Поиск" name="" value="" class="form-control">
                </div>
            </form>
        </div>

        <ul class="mobile-menu__list">
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                <a href="about.html">О нас</a>
            </li>
            <li class="has-child">
                <a href="index.html">Услуги</a>
                <ul>
                    <li class="has-child"><a href="#">Дезинсекция</a>
                        <ul class="second-menu">
                            <li><a href="#">Уничтожаем клопов</a></li>
                            <li><a href="#">Уничтожаем тараканов</a></li>
                            <li><a href="#">Уничтожаем муравьев</a></li>
                            <li><a href="#">Уничтожаем клещей</a></li>
                        </ul>
                    </li>
                    <li class="has-child"><a href="#">Дезинфекция</a>
                        <ul class="second-menu">
                            <li><a href="#">Уничтожаем мух</a></li>
                            <li><a href="#">Уничтожаем ос</a></li>
                            <li><a href="#">Уничтожаем ос</a></li>
                            <li><a href="#">Уничтожаем чешуйниц</a></li>
                        </ul>
                    </li>
                    <li class="has-child"><a href="#">Дератизация</a>
                        <ul class="second-menu">
                            <li><a href="#">Обработка участков</a></li>
                            <li><a href="#">Уничтожаем пауков</a></li>
                            <li><a href="#">Уничтожаем моль</a></li>
                            <li><a href="#">Уничтожаем жуков</a></li>
                        </ul>
                    </li>
                    <li class="has-child"><a href="#">Для Юридических лиц</a>
                        <ul class="second-menu">
                            <li><a href="#">Обработка участков</a></li>
                            <li><a href="#">Уничтожаем пауков</a></li>
                            <li><a href="#">Уничтожаем моль</a></li>
                            <li><a href="#">Уничтожаем жуков</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="prices.html">Цены</a>
            </li>
            <li>
                <a href="articles.html">Статьи</a>
            </li>
            <li>
                <a href="legal-entities.html">Юр. лицам</a>
            </li>
            <li><a href="reviews.html">Отзывы</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="certificates.html">Сертификаты</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>

        <ul class="mobile-menu__soc">
            <li>
                <a href="#" class="icon-footer-vk"></a>
            </li>
            <li>
                <a href="#" class="icon-footer-facebook"></a>
            </li>
            <li>
                <a href="#" class="icon-footer-ok"></a>
            </li>
        </ul>

        <div class="mobile-menu__line"></div>

        <a href="index.html" class="mobile-menu__logo">
            <img src="static/img/general/logo.svg" alt="logo">
        </a>

        <div class="d-flex mobile-menu__info">
            <div class="header__col">
                <p><b><a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></b></p>
                <p>Круглосуточно</p>
            </div>

            <div class="header__col">
                <p><b><a href="tel:8 800 301 04 53">8 800 301 04 53</a></b></p>
                <p>Бесплатно по всей Росии</p>
            </div>

            <div class="header__col">
                <p><b>Режим работы:</b></p>
                <p>Пн-Вс с 09.00 до 21.00</p>
            </div>
        </div>

        <div class="mobile-menu__text">
            <p>© 2019 «РСС». Все права защищены.</p>
            <p>Полная или частичная перепечатка материалов сайта - запрещается.
                Не является публичной офертой.</p>
        </div>
    </div>
</div>
