.header-wrap {
    &.fixed {
        position: fixed;
        top: -300px;
        left: 0;
        width: 100%;
        z-index: 15;
        transition: all 0.25s;
        animation: fixed-header 1s both;
        .header {
            padding: 13px 0;
            @media screen and (max-width: 576px) {
                padding: 20px 0;
            }
        }

        .header__logo {
            width: 150px;
        }

        .header__nav {
            padding: 20px 0;
            border-bottom: 1px solid $border-color !important;
        }

        @media screen and (max-width: 992px) {
           .header__col1, .header__col2, .header__col3 {
               display: none;
           }
        }

        @media screen and (max-width: 576px) {
            .header__logo, .header__col3, .header__col4 {
                display: none;
            }

            .header__col2 {
                display: block;
            }
        }
    }
}

@keyframes fixed-header {
    from {
        top: -300px;
    }

    to {
        top: 0px;
    }
}

.header {
    padding: 18px 0;
    background-color: $white-color;
    border-bottom: 1px solid $border-color;
    @media screen and (max-width: 992px) {
        padding: 11px 0 27px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 0;
        position: relative;
        padding-top: 20px;

        &:before {
            @include before;
            position: absolute;
            top: 77px;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid #E2E793;
        }
    }

    &__wrap {
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__burger-wrap {
        display: none;
        align-items: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: $black-color;
        flex-shrink: 0;
        order: 1;

        @media screen and (max-width: 992px) {
            display: flex;
            margin-right: 50px;
        }
        @media screen and (max-width: 768px) {
            margin-right: 15px;
        }
    }

    &__burger {
        flex-shrink: 0;
        position: relative;
        width: 36px;
        height: 20px;
        margin-right: 12px;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        span {
            position: absolute;
            display: block;
            height: 1px;
            width: 100%;
            background-color: $black-color;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 10px;
            }

            &:nth-child(3) {
                top: 20px;
            }
        }

        &.open span:nth-child(1) {
            top: 10px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &.open span:nth-child(3) {
            top: 10px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }

    &__logo {
        width: 224px;
        display: block;
        @media screen and (max-width: 1200px) {
            order: 1;
        }
        @media screen and (max-width: 992px) {
            order: 2;
        }
        @media screen and (max-width: 768px) {
            width: 200px;
        }
        @media screen and (max-width: 576px) {
            order: 4;
            width: 100%;
            height: 118px;
            margin: 15px 0;
        }

        img {
            width: 100%;
            @media screen and (max-width: 576px) {
                width: auto;
                height: 100%;
            }
        }
    }

    &__col {
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 15px;
            color: $black-color;
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        b {
            font-weight: 800;
        }

        a {
            color: $red-color;
            text-decoration: none;
            font-weight: 800;
            font-size: 14px;
            line-height: 15px;
            transition: all 0.25s;
            flex-shrink: 0;

            &:hover {
                color: $red-color2;
                text-decoration: underline;
            }
        }
    }

    &__col1 {
        @media screen and (max-width: 1200px) {
            display: none;
        }
        @media screen and (max-width: 992px) {
            display: block;
            margin-top: 15px;
            order: 6;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__col2 {
        @media screen and (max-width: 1200px) {
            order: 2;
        }
        @media screen and (max-width: 992px) {
            margin-top: 15px;
            order: 5;
        }
        @media screen and (max-width: 576px) {
            order: 2;
            margin-top: 0;
        }
    }

    &__col3 {
        @media screen and (max-width: 1200px) {
            order: 3;
        }
        @media screen and (max-width: 992px) {
            margin-top: 15px;
            order: 4;
        }
        @media screen and (max-width: 576px) {
            order: 3;
            width: 100%;
            margin-top: 35px;
        }
    }

    &__col4 {
        @media screen and (max-width: 1200px) {
            order: 4;
        }
        @media screen and (max-width: 992px) {
            order: 3;
            margin-left: 50px;
        }
        @media screen and (max-width: 768px) {
            margin-left: 15px;
        }
        @media screen and (max-width: 576px) {
            order: 5;
            width: 100%;
            margin-left: 0;
            padding-bottom: 20px;
            .btn {
                width: 100%;
            }
        }
    }

    &__nav {
        padding: 28px 0;
        background-color: $mail-color;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__menu {
        @include nl;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            &.has-child > a {
                padding-right: 13px;

                &:after {
                    @include before;
                    display: block;
                    width: 9px;
                    height: 6px;
                    @include bg-svg($icon-arrow-menu);
                    position: absolute;
                    right: 0;
                    top: 2px;
                    bottom: 0;
                    margin: auto;
                }

                &:hover {
                    &:after {
                        @include bg-svg($icon-arrow-menu-hover);
                    }
                }
            }

            &:last-child a {
                &:before {
                    display: none;
                }
            }

            &.divider {
                height: 25px;
                width: 0;
                border-right: 1px solid #BCC25E;
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }
        }

        .has-child {
            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        li > a {
            display: block;
            flex-shrink: 0;
            position: relative;
            font-size: 16px;
            line-height: 25px;
            color: $black-color;
            font-weight: 500;
            text-decoration: none;
            transition: all 0.25s;

            /*&:before {
                @include before;
                height: 100%;
                width: 0;
                border-right: 1px solid #BCC25E;
                position: absolute;
                top: 0;
                right: -28px;
                @media screen and (max-width: 1200px) {
                    right: -12px;
                }
            }*/

            &:hover {
                color: $blue-color;
                text-decoration: underline;
            }

            &.active {
                color: $blue-color;
                text-decoration: underline;
            }
        }

        .icon-search {
            width: 22px;
            height: 24px;
            flex-shrink: 0;
            transition: none;
        }
    }
}

.sub-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 235px;
    background-color: $white-color;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid $border-color;
    padding: 50px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;

    &:before {
        @include before;
        height: 25px;
        width: 100%;
        top: -25px;
        position: absolute;
        left: 0;
    }

    &:hover {
        opacity: 1;
        visibility: visible;
    }

    &__col {
        width: 210px;
        flex-shrink: 0;
        margin-right: 35px;
        @media screen and (max-width: 1200px) {
            width: 200px;
            margin-right: 25px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 33px;
        color: $black-color;
        font-weight: bold;
        @media screen and (max-width: 1200px) {
            margin-bottom: 20px;
        }
    }

    &__ul {
        @include nl;

        li {
            margin-bottom: 14px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            display: block;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: $black-color;
            transition: all 0.25s;
            text-decoration: underline;
            position: relative;

            &:hover {
                text-decoration: underline;
                color: $blue-color;
            }

            &:before {
                display: none;
            }
        }
    }
}

.header-search {
    background-color: $shadow-color;
    padding: 58px 0;
    position: absolute;
    top: 235px;
    width: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__form {
        position: relative;
    }

    &__close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 28px;
        margin: auto;
        z-index: 2;
        cursor: pointer;
        height: 16px;
        width: 16px;
    }

    .form-group {
    }
}

.call-form {
    position: absolute;
    top: 101px;
    right: 0;
    width: 403px;
    background: $white-color;
    z-index: 5;
    border: 1px solid #E2E793;
    box-sizing: border-box;
    padding: 20px 20px 40px 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__wrap {
        position: relative;
    }

    &__close {
        width: 20px;
        height: 20px;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 4px;
        @include bg-svg($icon-close);
        cursor: pointer;
    }

    &__title {
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 22px;
        color: $black-color;
        font-weight: bold;
    }

    &__body {
        padding: 0 44px 0 0;
    }
}

.mobile-menu {
    background-color: $white-color;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 0 40px;
    overflow-y: scroll;
    display: none;

    &.show {
        display: block;
    }

    &__container {
        width: 100%;
        max-width: 688px;
        margin: auto;
        @media screen and (max-width: 768px) {
            max-width: 510px;
        }
        @media screen and (max-width: 576px) {
            padding: 0 20px;
        }
    }

    &__close {
        display: block;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-left: auto;
        margin-right: 0;
        @include bg-svg($icon-close);
        margin-bottom: 18px;

        &:hover {
            @include bg-svg($icon-close-hover);
        }
    }

    .header-search__form {
        margin-bottom: 30px;
    }

    &__list {
        @include nl;
        margin-bottom: 40px;

        & > li {
            display: block;
            margin-bottom: 20px;
        }

        & > li > a {
            font-size: 14px;
            line-height: 16px;
            color: $black-color;
            font-weight: bold;
            display: block;
        }
    }

    .has-child {
        & > a {
            position: relative;
            display: block;
            width: max-content;

            &:after {
                @include before;
                position: absolute;
                top: 4px;
                width: 10px;
                height: 6px;
                right: -15px;
                @include bg-svg($icon-arrow-menu);
            }

            &.active {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        ul.open {
            display: block;
        }
    }

    .has-child ul {
        @include nl;
        margin-top: 20px;
        display: none;

        &.show {
            display: block;
        }

        & > li {
            display: block;
            margin-bottom: 20px;
        }

        & > li > a {
            font-size: 14px;
            line-height: 16px;
            color: $black-color;
            font-weight: bold;
            display: block;
        }
    }

    .second-menu {
        margin-top: 14px !important;
        & > li {
            margin-bottom: 14px !important;
        }

        li > a {
            font-weight: 400 !important;
            text-decoration: underline;
        }
    }

    &__soc {
        @include nl;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }

    &__line {
        margin-bottom: 30px;
        border-top: 1px solid #E2E793;
    }

    &__logo {
        width: 224px;
        display: block;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    &__info {
        align-items: flex-start;
        padding-bottom: 10px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }

        .header__col {
            margin-bottom: 19px;
            margin-right: 55px;
            flex-shrink: 0;
            &:last-child {
                margin-right: 0;
            }
            @media screen and (max-width: 768px) {
                margin-right: 20px;
            }
        }
    }

    &__text {
        padding-top: 30px;
        border-top: 1px solid #E2E793;

        p {
            margin-bottom: 0;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;

            &:first-child {
                font-weight: 500;
            }
        }
    }
}
