{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Сертификаты</li>
            </ul>
        </div>

        <div class="aside-price d-block d-sm-none mb-5">
            <div class="aside-price__image">
                <img src="static/img/content/aside-price.png" alt="">
            </div>

            <div class="aside-price__header">Рассчитать<br>
                стоимость услуг!</div>

            <form>
                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="name" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="name">Имя <span>*</span></label>
                </div>

                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="phone">Телефон <span>*</span></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </form>
        </div>

        <div class="certificates">
            <div class="row align-items-end certificates__content mb-0">
                <div class="col-lg-8">
                    <h2>Сертификаты и документы</h2>
                    <h4>Для дезинсекции Региональная Санитарная Служба использует только проверенные и действительно
                        работающие средства борьбы с насекомыми
                        и грызунами.</h4>
                    <p>Все используемые нашей службой средства поступают непосредственно от производителя
                        без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex certificates__gerbs">
                        <img src="static/img/content/gerb1.png" alt="">
                        <img src="static/img/content/gerb2.png" alt="">
                    </div>
                </div>

                <div class="col-12">
                    <div class="certificates__slider__wrap">
                        <div class="swiper-container certificates__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certificates__slider--item">
                                        <img src="static/img/content/certificates.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination certificates__slider-pagination"></div>
                        <div class="swiper-button-prev certificates__slider-prev"></div>
                        <div class="swiper-button-next certificates__slider-next"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-price border-bottom-0 pb-2 d-none d-md-block">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Рассчитать стоимость услуг дезинфектора</h2>
                    <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b> быстрый
                        расчет
                        стоимости
                        услуг <b>физ.
                            лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
                </div>
            </div>

            <form>
                <div class="d-flex form-price__wrap">
                    <div class="form-row">
                        <div class="col-lg-5 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="name" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="name">Имя <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="phone" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="phone">Телефон <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    {{> elements/emblem}}
</div>

{{> footer/footer}}
