.certificates {
    &__content {
        margin-bottom: 48px;

        h2 {
            @extend %h1;
            color: $black-color;
            margin-bottom: 36px;
        }

        h4 {
            @extend %h4;
            font-weight: 500;
            line-height: 24px;
            color: $black-color;
            margin-bottom: 28px;
        }

        p {
            @extend %text2;
            color: $black-color;
            margin-bottom: 20px;
        }
    }

    &__gerbs {
        margin-bottom: 20px;

        img {
            display: block;
            width: 80px;
            margin-right: 56px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .certificates__slider__wrap {
        padding-bottom: 100px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding-bottom: 80px;
        }
    }

    .certificates__slider {
        height: 710px;
        margin-top: 70px;
        @media screen and (max-width: 992px) {
            margin-top: 48px;
        }
        @media screen and (max-width: 768px) {
            margin-top: 28px;
            height: 350px;
        }

        &--item {
            width: 280px;
            height: 330px;
            background-color: $white-color;
            margin: 0 auto;
            @include box-shadow;
        }

        .swiper-slide {
            padding: 0 10px 10px 0;
            width: 280px;
            height: 330px;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .certificates__slider-prev, .certificates__slider-next {
        bottom: 17px;
        top: auto;
        @media screen and (max-width: 768px) {
            bottom: 7px;
        }
    }

    .certificates__slider-prev {
        left: calc(50% - 50px);
    }

    .certificates__slider-next {
        right: calc(50% - 50px);
    }

    .certificates__slider-pagination {
        width: 50px;
        bottom: 17px;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        left: 0;
        right: 0;
        margin: auto;
        @media screen and (max-width: 768px) {
            bottom: 7px;
        }
    }
}
