{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Цены</li>
            </ul>
        </div>

        <div class="aside-price d-block d-sm-none mb-5">
            <div class="aside-price__image">
                <img src="static/img/content/aside-price.png" alt="">
            </div>

            <div class="aside-price__header">Рассчитать<br>
                стоимость услуг!
            </div>

            <form>
                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="name" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="name">Имя <span>*</span></label>
                </div>

                <div class="form-group custom-group">
                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                           onchange="this.setAttribute('value', this.value);">
                    <label for="phone">Телефон <span>*</span></label>
                </div>

                <button type="submit" class="btn btn-main">Заказать расчет</button>
            </form>
        </div>

        <div class="page__title">
            <h2>Цены</h2>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-10">
                    <p class="mb-0"><b>Региональная Санитарная Служба</b> предоставляет услуги населению физическим и
                        юридическим лицам
                        <b>Дезинсекция,
                            Дератизация, Дезинфекция</b>, в <b>Санкт-Петербурге</b> и <b>Ленинградской области</b>.</p>
                </div>
            </div>

            <div class="form-price d-none d-md-block">
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Рассчитать стоимость услуг дезинфектора</h2>
                        <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b>
                            быстрый
                            расчет
                            стоимости
                            услуг <b>физ.
                                лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
                    </div>
                </div>

                <form>
                    <div class="d-flex form-price__wrap">
                        <div class="form-row">
                            <div class="col-lg-5 col-md-4">
                                <div class="form-group mb-0 custom-group">
                                    <input type="text" placeholder="" class="form-control" id="name" value=""
                                           onchange="this.setAttribute('value', this.value);">
                                    <label for="name">Имя <span>*</span></label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="form-group mb-0 custom-group">
                                    <input type="text" placeholder="" class="form-control" id="phone" value=""
                                           onchange="this.setAttribute('value', this.value);">
                                    <label for="phone">Телефон <span>*</span></label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="price-block">
                <div class="row">
                    <div class="col-lg-10">
                        <h3>Дезинсекция</h3>
                        <p><b>Под дезинсекцией</b> в быту понимается процедура уничтожения любых насекомых, чьё
                            соседство
                            с человеком считается нежелательным - это всем знакомые <a href="#">мухи, комары, тараканы,
                                муравьи,
                                постельные
                                клопы, блохи, моль, осы</a> и т. д.</p>
                    </div>
                </div>

                <div class="price-table">
                    <div class="d-flex price-table__row price-table__header">
                        <div class="price-table__col">Кол-во комнат</div>
                        <div class="price-table__col">Стоимость</div>
                        <div class="price-table__col">Гарантийное обслуживание</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">1 комната</div>
                        <div class="price-table__col">от 1 500 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">2 комнаты</div>
                        <div class="price-table__col">от 1 800 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">3 комнаты</div>
                        <div class="price-table__col">от 2 100 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">4 комнаты</div>
                        <div class="price-table__col">от 2 400 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">5 комнаты</div>
                        <div class="price-table__col">от 2 700 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                </div>
            </div>

            <div class="price-block">
                <div class="row">
                    <div class="col-lg-10">
                        <h3>Дератизация</h3>
                        <p><b>Под дератизацией</b> в современном обществе понимается комплекс мер по борьбе с грызунами,
                            вредными для человека в эпидемическом и экономическом отношении, то есть уничтожение <a
                                href="#">крыс</a>,
                            <a href="#">мышей</a>, <a href="#">кротов</a> и других грызунов, способных переносить
                            различные
                            инфекции
                            или
                            наносить вред
                            продуктам, сельскохозяйственным растениям или имуществу человека.</p>
                    </div>
                </div>

                <div class="price-table">
                    <div class="d-flex price-table__row price-table__header">
                        <div class="price-table__col">Кол-во комнат</div>
                        <div class="price-table__col">Стоимость</div>
                        <div class="price-table__col">Гарантийное обслуживание</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">1 комната</div>
                        <div class="price-table__col">от 1 600 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">2 комнаты</div>
                        <div class="price-table__col">от 1 900 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">3 комнаты</div>
                        <div class="price-table__col">от 2 200 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">4 комнаты</div>
                        <div class="price-table__col">от 2 500 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">5 комнаты</div>
                        <div class="price-table__col">от 2 800 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                </div>
            </div>

            <div class="price-block">
                <div class="row">
                    <div class="col-lg-10">
                        <h3>Дезинфекция</h3>
                        <p><b>Дезинфекция</b> - это комплекс мер, направленных на обеззараживание объектов внешней
                            среды,
                            путём
                            уничтожения патогенных микроорганизмов. Воздействуя на различных возбудителей инфекционных
                            болезней, дезинфекция ограничивает или полностью исключает возможность развития и
                            распространения инфекции.</p>
                    </div>
                </div>

                <div class="price-table">
                    <div class="d-flex price-table__row price-table__header">
                        <div class="price-table__col">Кол-во комнат</div>
                        <div class="price-table__col">Стоимость</div>
                        <div class="price-table__col">Гарантийное обслуживание</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">1 комната</div>
                        <div class="price-table__col">от 1 600 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">2 комнаты</div>
                        <div class="price-table__col">от 1 900 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">3 комнаты</div>
                        <div class="price-table__col">от 2 200 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">4 комнаты</div>
                        <div class="price-table__col">от 2 500 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">5 комнаты</div>
                        <div class="price-table__col">от 2 800 руб.</div>
                        <div class="price-table__col">Гарантия 1 год</div>
                    </div>
                </div>
            </div>

            <div class="price-block">
                <div class="row">
                    <div class="col-lg-10">
                        <h3>Для юридических лиц и организаций в Санкт-Петербурге
                            и Ленинградской области</h3>
                    </div>
                </div>

                <blockquote>
                    <p><b>Для юридических лиц и организаций</b> служба дезинсекции <b>«Региональная Санитарная
                        Служба»</b>
                        предлагает услуги по профессиональному проведению дезинсекции, фумигации и дератизации
                        объектов коммерческой и жилой недвижимостив соответствии с действующими
                        санитарно-эпидемиологическими нормами.</p>

                    <p>Мы предоставим всю необходимую документацию в соответствии с требованиями Роспотребнадзора и
                        предложим максимально удобные и выгодные для вас условия.</p>
                </blockquote>

                <div class="price-table table-col2">
                    <div class="d-flex price-table__row price-table__header">
                        <div class="price-table__col">Площадь обработки</div>
                        <div class="price-table__col">Стоимость</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">До 50 м2</div>
                        <div class="price-table__col">50 руб./м2</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">Свыше 50 м2</div>
                        <div class="price-table__col">40 руб./м2</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">Свыше 100 м2</div>
                        <div class="price-table__col">30 руб./м2</div>
                    </div>
                    <div class="d-flex price-table__row">
                        <div class="price-table__col">Свыше 500 м2</div>
                        <div class="price-table__col">20 руб./м2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    {{> elements/emblem}}
</div>

{{> footer/footer}}
