.price-block {
    padding: 48px 0 58px;
    border-bottom: 1px solid $border-color;

    @media screen and (max-width: 768px) {
        padding: 40px 0 30px;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    h3 {
        font-size: 26px;
        font-weight: bold;
        color: $black-color;
        line-height: 32px;
        margin-bottom: 28px;
        @media screen and (max-width: 1200px) {
            line-height: 30px;
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;
        }
    }

    p {
        @extend %text3;
        color: $black-color;
        margin-bottom: 38px;

        a {
            color: $blue-color;
            text-decoration: underline;
        }
    }
}

.price-table {
    @include box-shadow;
    border-bottom: 1px solid $border-color;
    @media screen and (max-width: 768px) {
        box-shadow: none;
    }

    $f: &;

    &__row {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        &:nth-child(2) {
            #{$f}__col {
                padding-top: 28px;
                @media screen and (max-width: 768px) {
                    padding-top: 4px;
                }
            }
        }

        &:last-child {
            #{$f}__col {
                padding-bottom: 4px;
            }
        }
    }

    &__header {
        display: flex;

        #{$f}__col {
            padding: 24px 0 24px 48px;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
            background-color: $red-color;
            color: $white-color;
            border: none;

            @media screen and (max-width: 768px) {
                display: none;
            }

            &:first-child {
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }

    &__col {
        align-self: stretch;
        width: calc(100% / 3);
        border-left: 1px solid $border-color;
        box-sizing: border-box;
        padding: 9px 48px;
        background-color: $white-color;
        @extend %text;
        line-height: 22px;
        font-weight: 500;
        @media screen and (max-width: 768px) {
            width: 100%;
            font-weight: bold;
            padding: 4px 38px;
            border-left: none;
        }

        &:first-child {
            font-weight: bold;
            @media screen and (max-width: 768px) {
                padding-top: 24px !important;
            }
        }

        &:last-child {
            border-right: 1px solid $border-color;
            @media screen and (max-width: 768px) {
                border-right: none;
                padding-bottom: 24px !important;
                border-bottom: 1px solid $border-color;
            }
        }
    }

    &.table-col2 {
        max-width: 760px;
        @media screen and (max-width: 768px) {
            max-width: none;
            width: 100%;
        }

        #{$f}__header {
            #{$f}__col {
                &:last-child {
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }

        #{$f}__col {
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:nth-child(1) {
                @media screen and (max-width: 768px) {
                    padding-bottom: 4px !important;
                }
            }

            &:nth-child(2) {
                @media screen and (max-width: 768px) {
                    padding-top: 4px !important;
                }
            }
        }
    }
}
