{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Услуги</li>
            </ul>
        </div>

        <div class="page__title">
            <h2>Наши услуги</h2>
        </div>

        <div class="service__content">
            <div class="row">
                <div class="col-lg-8">
                    <p>Региональная Санитарная Служба предоставляет услуги населению физическим
                        и юридическим лицам <b>Дезинсекция, Дератизация, Дезинфекция</b>, в <b>Санкт-Петербурге</b> и
                        <b>Ленинградской
                        области</b>.</p>
                </div>
            </div>
        </div>

        <div class="main-services__slider-wrap d-block d-sm-none">
            <div class="swiper-container main-services__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дезинсекция</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser1.svg" alt="" class="service-img1">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="service.html">Уничтожаем клопов</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем тараканов</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем муравьев</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем клещей</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем мух</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем ос</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем короеда</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем чешуйниц</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Обработка участков</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем пауков</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем моль</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем жуков</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дезинфекция</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser2.svg" alt="" class="service-img2">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="service.html">Дезинфекция бытовых
                                            помещений</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Дезинфекция
                                            автотранспорта</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем плесень</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем бактерии</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем вирусы</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем запахи</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем грибки</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем запахи
                                            в холодильнике</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дератизация</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser3.svg" alt="" class="service-img3">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="service.html">Уничтожаем крыс</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Уничтожаем мышей</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Борьба с кротами</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Договор на дератизацию</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Для Юридических лиц</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser4.svg" alt="" class="service-img4">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="service.html">Документы для СЭЗ</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Санитарный аудит</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Договора для Роспотреб-
                                            надзора</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Договор на дератизацию</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Обработка строительных
                                            бытовок и временных
                                            сооружений</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Фумигация помещений</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Газация складских
                                            помещений</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev main-services-prev"></div>
            <div class="swiper-button-next main-services-next"></div>
            <div class="swiper-pagination main-services-pagination"></div>
        </div>

        <div class="d-flex main-services__list d-none d-sm-flex">
            <div class="main-services__item">
                <div class="main-services__item--header">Дезинсекция</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser1.svg" alt="" class="service-img1">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="service.html">Уничтожаем клопов</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем тараканов</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем муравьев</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем клещей</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем мух</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем ос</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем короеда</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем чешуйниц</a>
                        </li>
                        <li>
                            <a href="service.html">Обработка участков</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем пауков</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем моль</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем жуков</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Дезинфекция</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser2.svg" alt="" class="service-img2">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="service.html">Дезинфекция бытовых
                                помещений</a>
                        </li>
                        <li>
                            <a href="service.html">Дезинфекция
                                автотранспорта</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем плесень</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем бактерии</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем вирусы</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем запахи</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем грибки</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем запахи
                                в холодильнике</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Дератизация</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser3.svg" alt="" class="service-img3">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="service.html">Уничтожаем крыс</a>
                        </li>
                        <li>
                            <a href="service.html">Уничтожаем мышей</a>
                        </li>
                        <li>
                            <a href="service.html">Борьба с кротами</a>
                        </li>
                        <li>
                            <a href="service.html">Договор на дератизацию</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Для Юридических лиц</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser4.svg" alt="" class="service-img4">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="#">Документы для СЭЗ</a>
                        </li>
                        <li>
                            <a href="#">Санитарный аудит</a>
                        </li>
                        <li>
                            <a href="#">Договора для Роспотреб-
                                надзора</a>
                        </li>
                        <li>
                            <a href="#">Договор на дератизацию</a>
                        </li>
                        <li>
                            <a href="#">Обработка строительных
                                бытовок и временных
                                сооружений</a>
                        </li>
                        <li>
                            <a href="#">Фумигация помещений</a>
                        </li>
                        <li>
                            <a href="#">Газация складских
                                помещений</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="form-price">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Рассчитать стоимость услуг дезинфектора</h2>
                    <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b> быстрый
                        расчет
                        стоимости
                        услуг <b>физ.
                            лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
                </div>
            </div>

            <form>
                <div class="form-price__wrap d-md-flex d-none">
                    <div class="form-row">
                        <div class="col-lg-5 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="name" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="name">Имя <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="phone" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="phone">Телефон <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="d-block d-md-none mt-5">
                <div class="aside-price mb-0">
                    <div class="aside-price__image">
                        <img src="static/img/content/aside-price.png" alt="">
                    </div>

                    <div class="aside-price__header">Рассчитать<br>
                        стоимость услуг!</div>

                    <form>
                        <div class="form-group custom-group">
                            <input type="text" placeholder="" class="form-control" id="name" value=""
                                   onchange="this.setAttribute('value', this.value);">
                            <label for="name">Имя <span>*</span></label>
                        </div>

                        <div class="form-group custom-group">
                            <input type="text" placeholder="" class="form-control" id="phone" value=""
                                   onchange="this.setAttribute('value', this.value);">
                            <label for="phone">Телефон <span>*</span></label>
                        </div>

                        <button type="submit" class="btn btn-main">Заказать расчет</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    <div class="border-top">
        {{> elements/emblem}}
    </div>
</div>

{{> footer/footer}}
