{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="services.html">Услуги</a>
                </li>
                <li>
                    <a href="services.html">Дезинсекция</a>
                </li>
                <li>Уничтожение клопов</li>
            </ul>
        </div>

        <div class="service-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="article">
                        <h3>Уничтожение клопов в квартире в Санкт-Петербурге
                            и Ленинградской области</h3>

                        <p>Уничтожение клопов - это сложная задача, требующая решительных мер, иначе от насекомых не
                            избавиться, ведь паразиты очень скрытные
                            и живучие, они охотятся по ночам, когда мы спим, а днем прячутся
                            в труднодоступных местах.</p>

                        {{> elements/consultation}}

                        <p>Никто не застрахован от появления постельных клопов в квартире. Мало того,
                            что это само по себе неприятно, когда в квартире появились непрошеные гости, так они еще и
                            кусают по ночам и не дают покоя. Чем дольше игнорировать присутствие насекомых-паразитов у
                            себя
                            дома, тем больше
                            будет укусов, беспокойнее сон, а самое главное - избавиться от клопов станет всё
                            сложнее.</p>

                        <p>Основные признаки клопов в квартире: плохо спите ночами из-за непонятного зуда, а на утро
                            стали
                            замечать покраснения на теле, которые сильно чешутся,
                            а на постельном белье местами появились красно-бурые пятна - значит у вас
                            дома завелись клопы.</p>

                        <img src="static/img/content/serv.png" alt="" class="img-fluid">
                        <h3>Выбор подходящего метода для уничтожения клопов</h3>
                        <ul class="custom-list">
                            <li>Начальная стадия. Клопы в квартире только появились, их еще совсем мало и укусов
                                практически нет или на них не обращают внимания. Скорее всего, клопы проникли в квартиру
                                случайно с какими-то вещами, на одежде, либо это первые переселенцы из соседней
                                квартиры.
                                <span>Подойдет стандартная обработка.</span>
                            </li>
                            <li>Крайняя стадия. Ситуация в квартире близка к катастрофической - клопов расплодилось с
                                избытком и они уже начинают разбредаться по соседям. Клопов так много, что от укусов
                                можно
                                сойти с ума - клопы атакуют целыми группами и их спокойно наблюдать на своем теле, а
                                также
                                бегающими по дивану, кровати, стенам.
                                <span>Рекомендована комплексная обработка или обработка горячим туманом.</span>
                            </li>
                            <li>Средняя стадия. Клопов в квартире становится ощутимо много
                                и чувствуют они cебя в квартире комфортно, поэтому активно кусают и размножаются. Укусов
                                становится всё больше и больше, поэтому списывать всё на случайные покраснения уже
                                получится, а главным доказательством служат пятнышки крови и следы экскрементов на
                                постельном белье.
                                <span>Рекомендована обработка туманом.</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                    {{> elements/aside-price}}
                    {{> elements/aside-menu}}
                    {{> elements/aside-stock}}
                </div>
            </div>
        </div>

        <div class="row service-info__wrap d-none d-md-flex">
            <div class="col-xl-6 col-lg-8">
                <h3>Что мы обрабатываем?</h3>

                <div class="d-flex service-info">
                    <div class="service-info__menu">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">Квартиры</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">Общепит, рестораны,
                                кафе</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                               role="tab" aria-controls="v-pills-messages" aria-selected="false">Отели, гостиницы,
                                хостелы</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                               role="tab" aria-controls="v-pills-settings" aria-selected="false">Салоны красоты,
                                парикмахерские</a>
                            <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
                               role="tab" aria-controls="v-pills-1" aria-selected="false">Склад, подсобки,
                                бытовки</a>
                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                               role="tab" aria-controls="v-pills-2" aria-selected="false">Cадовые участки</a>
                        </div>
                    </div>

                    <div class="service-info__content">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                 aria-labelledby="v-pills-messages-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                 aria-labelledby="v-pills-settings-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-1" role="tabpanel"
                                 aria-labelledby="v-pills-1-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                 aria-labelledby="v-pills-2-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                    оборудованием для борьбы
                                    с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                                <p>При борьбе с паразитами
                                    и вредителями мы применяем только проверенные
                                    и высокоэффективные дезсредства. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-8">
                <h3>Чем мы обрабатываем?</h3>

                <div class="d-flex service-info">
                    <div class="service-info__menu">
                        <div class="nav flex-column nav-pills" id="v-pills1-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1home-tab" data-toggle="pill" href="#v-pills-1home"
                               role="tab" aria-controls="v-pills-1home" aria-selected="true">Холодным туманом</a>
                            <a class="nav-link" id="v-pills-1profile-tab" data-toggle="pill" href="#v-pills-1profile"
                               role="tab" aria-controls="v-pills-1profile" aria-selected="false">Комплексная
                                обработка</a>
                            <a class="nav-link" id="v-pills-1messages-tab" data-toggle="pill" href="#v-pills-1messages"
                               role="tab" aria-controls="v-pills-1messages" aria-selected="false">Горячим туманом</a>
                            <a class="nav-link" id="v-pills-1settings-tab" data-toggle="pill" href="#v-pills-1settings"
                               role="tab" aria-controls="v-pills-1settings" aria-selected="false">Стандартная
                                обработка</a>
                        </div>
                    </div>

                    <div class="service-info__content">
                        <div class="tab-content" id="v-pills1-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1home" role="tabpanel"
                                 aria-labelledby="v-pills-1home-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s2.png" alt="">
                                </div>

                                <p><b>Обработка холодным туманом</b> от клопов на данный момент является самым
                                    эффективным
                                    методом.</p>

                                <p>Специальный прибор ULV генератор холодного тумана, в который заливается готовая
                                    для
                                    распыления смесь воды и яда, при включении превращает смертоносный для насекомых
                                    раствор во всепроникающий туман.</p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-1profile" role="tabpanel"
                                 aria-labelledby="v-pills-1profile-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s2.png" alt="">
                                </div>

                                <p><b>Обработка холодным туманом</b> от клопов на данный момент является самым
                                    эффективным
                                    методом.</p>

                                <p>Специальный прибор ULV генератор холодного тумана, в который заливается готовая
                                    для
                                    распыления смесь воды и яда, при включении превращает смертоносный для насекомых
                                    раствор во всепроникающий туман.</p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-1messages" role="tabpanel"
                                 aria-labelledby="v-pills-1messages-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Обработка холодным туманом</b> от клопов на данный момент является самым
                                    эффективным
                                    методом.</p>

                                <p>Специальный прибор ULV генератор холодного тумана, в который заливается готовая
                                    для
                                    распыления смесь воды и яда, при включении превращает смертоносный для насекомых
                                    раствор во всепроникающий туман.</p>
                            </div>
                            <div class="tab-pane fade" id="v-pills-1settings" role="tabpanel"
                                 aria-labelledby="v-pills-1settings-tab">
                                <div class="service-info__icon">
                                    <img src="static/img/content/icon-s1.svg" alt="">
                                </div>

                                <p><b>Обработка холодным туманом</b> от клопов на данный момент является самым
                                    эффективным
                                    методом.</p>

                                <p>Специальный прибор ULV генератор холодного тумана, в который заливается готовая
                                    для
                                    распыления смесь воды и яда, при включении превращает смертоносный для насекомых
                                    раствор во всепроникающий туман.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-info-min d-block d-md-none">
            <h3>Что мы обрабатываем?</h3>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                         aria-expanded="true" aria-controls="collapseOne">Квартиры
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo" data-toggle="collapse"
                         data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Общепит,
                        рестораны,
                        кафе
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse"
                         data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Отели, гостиницы,
                        хостелы
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingOne1" data-toggle="collapse" data-target="#collapseOne1"
                         aria-expanded="false" aria-controls="collapseOne1">Салоны красоты,
                        парикмахерские
                    </div>

                    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo1" data-toggle="collapse"
                         data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">Склад, подсобки,
                        бытовки
                    </div>
                    <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree1" data-toggle="collapse"
                         data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">Cадовые
                        участки
                    </div>
                    <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-info-min d-block d-md-none">
            <h3>Чev мы обрабатываем?</h3>

            <div class="accordion" id="accordionExample2">
                <div class="card">
                    <div class="card-header" id="headingOne2" data-toggle="collapse" data-target="#collapseOne2"
                         aria-expanded="true" aria-controls="collapseOne2">Холодным туманом
                    </div>

                    <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2"
                         data-parent="#accordionExample2">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s2.png" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo2" data-toggle="collapse"
                         data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">Комплексная
                        обработка
                    </div>
                    <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                         data-parent="#accordionExample2">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree2" data-toggle="collapse"
                         data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        Горячим
                        туманом
                    </div>
                    <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
                         data-parent="#accordionExample2">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingOne12" data-toggle="collapse" data-target="#collapseOne12"
                         aria-expanded="false" aria-controls="collapseOne12">Стандартная
                        обработка
                    </div>

                    <div id="collapseOne12" class="collapse" aria-labelledby="headingOne12"
                         data-parent="#accordionExample2">
                        <div class="card-body">
                            <div class="service-info__icon">
                                <img src="static/img/content/icon-s1.svg" alt="">
                            </div>

                            <p><b>Наши сотрудники</b> обеспечены самым современным импортным профессиональным
                                оборудованием для борьбы
                                с клопами, тараканами, блохами, клещами, комарами и другими насекомыми.</p>

                            <p>При борьбе с паразитами
                                и вредителями мы применяем только проверенные
                                и высокоэффективные дезсредства. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <blockquote>
            <p><b>Травля клопов проводится быстро и безопасно. Даётся гарантия,</b> соблюдается
                <b>конфиденциальность
                    вызова.</b>
                Если у Вас появились постельные клопы - не отчаивайтесь, это распространённое явление в
                Санкт-Петербурге.</p>

            <p>Лучше избавиться от клопов сразу и недорого, чем пытаться бороться с ними самостоятельно, потеряв
                при этом время, за которое эти насекомые полностью захватят квартиру или весь дом.</p>
        </blockquote>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    <div class="border-top">
        {{> elements/emblem}}
    </div>
</div>

{{> footer/footer}}
