.service {
    &__content {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 2px;
        }

        p {
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: $black-color;
            margin-bottom: 28px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &-wrap {
        padding-bottom: 48px;
        border-bottom: 1px solid #D5D19A;
        margin-bottom: 78px;
    }
}

.custom-list {
    @include nl;
    margin-bottom: 48px;

    li {
        margin-bottom: 28px;
        font-size: 16px;
        line-height: 24px;

        &:before {
            content: "•";
            color: $red-color;
            margin-right: 5px;
            display: inline-block;
        }

        span {
            color: $red-color;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.service-info {
    @include box-shadow;
    min-height: 476px;
    background-color: $white-color;
    margin-bottom: 58px;

    &__wrap {

        h3 {
            font-size: 26px;
            line-height: 30px;
            color: $black-color;
            margin-bottom: 48px;
            font-weight: bold;
        }
    }

    &__menu {
        align-self: stretch;
        width: 265px;
        flex-shrink: 0;
        border-right: 1px solid #D3CDAB;

        .nav-pills {
            margin-bottom: 0;

            .nav-link {
                height: 76px;
                margin: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0 28px;
                font-size: 14px;
                line-height: 20px;
                color: $black-color !important;
                font-weight: bold;
                border: none;
                position: relative;
                background-color: $white-color !important;
                text-decoration: none;

                &:hover {
                    color: $black-color !important;
                    text-decoration: none !important;
                    background-color: #EBEBEB !important;
                    border-right-color: #EBEBEB;

                    &:after {
                        border-left-color: #EBEBEB;
                        opacity: 1;
                    }
                }

                &:after {
                    content: '';
                    display: block;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    position: absolute;
                    border: 10px solid transparent;
                    border-left: 10px solid $white-color;
                    right: -20px;
                    left: auto;
                    height: 0;
                    opacity: 0;
                }

                &.active {
                    background-color: $red-color !important;
                    color: $white-color !important;
                    border-right-color: $red-color;

                    &:after {
                        border-left-color: $red-color;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__content {
        align-self: stretch;
        width: calc(100% - 265px);
        background-color: $white-color;
        margin-bottom: 0;

        .tab-content {
            background-color: $white-color;
            padding: 18px 30px 18px 35px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            color: $black-color;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        height: 39px;
        margin-bottom: 18px;

        img {
            height: 100%;
        }
    }
}

.service-info-min {
    margin-bottom: 60px;
    h3 {
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
        color: $black-color;
        margin-bottom: 30px;
    }
    .accordion {
        @include box-shadow;
    }

    .card {
        margin-bottom: 0;

        &-header {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            color: $black-color;
            padding: 0 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 76px;
            position: relative;

            &[aria-expanded="true"] {
                background-color: $red-color;
                color: $white-color;

                &:before {
                    opacity: 1;
                }
            }

            &:hover {
                background-color: #EBEBEB;
                color: $black-color;

                &:before {
                    border-top-color: #EBEBEB;
                    opacity: 1;
                }
            }

            &:before {
                content: '';
                display: block;
                border: 10px solid transparent;
                border-top: 10px solid $red-color;
                position: absolute;
                width: 0;
                height: 0;
                left: 0;
                right: 0;
                bottom: -20px;
                margin: auto;
                opacity: 0;
            }

            &:after {
                display: none;
            }
        }

        &-body {
            padding: 28px;

            p {
                font-size: 14px;
                line-height: 22px;
                color: $black-color;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
