{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Контакты</li>
            </ul>
        </div>

        <div class="title-block">
            <h2>Контактные данные</h2>
        </div>

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="SPB-tab" data-toggle="pill" href="#SPB" role="tab"
                   aria-controls="SPB" aria-selected="true">Санкт-Петербург</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="MSK-tab" data-toggle="pill" href="#MSK" role="tab"
                   aria-controls="MSK" aria-selected="false">Москва</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="SPB" role="tabpanel" aria-labelledby="SPB-tab">
                <div class="contact">
                    <div class="d-flex contact__info">
                        <div class="contact__info--col1">
                            <h5>Вызов специалиста <br>для обработки:</h5>
                            <p><b>whatsapp:</b> <a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></p>
                            <p><b>Время работы:</b> Пн-Вс — 09.00-21.00</p>
                            <p><b>e-mail:</b> <a href="mailto:office@rss.ru">office@rss.ru</a></p>
                        </div>

                        <div class="contact__info--col2">
                            <h5>Реквизиты организации:</h5>
                            <p><b>Санкт-Петербург,<br>
                                пр. Королева, 7</b></p>
                            <p>ИНН 7811594615, КПП 781101001, <br>БИК 044030653</p>
                        </div>

                        <div class="contact__info--col3">
                            <div class="d-flex contact__menu-soc">
                                <h5>Мы в социальных сетях:</h5>
                                <ul class="menu__soc">
                                    <li>
                                        <a href="#" class="soc-vk"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-odnoklassniki"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-whatsapp"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-viber"></a>
                                    </li>
                                </ul>
                            </div>

                            <p class="red-text"><b>Онлайн заявки и заказы с сайта</b><br>
                                принимаются ежедневно и круглосуточно.</p>
                        </div>
                    </div>

                    <div class="contact__map" id="map-spb">
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="MSK" role="tabpanel" aria-labelledby="MSK-tab">
                <div class="contact">
                    <div class="d-flex contact__info">
                        <div class="contact__info--col1">
                            <h5>Вызов специалиста <br>для обработки:</h5>
                            <p><b>whatsapp:</b> <a href="tel:8 (812) 501-21-62">8 (812) 501-21-62</a></p>
                            <p><b>Время работы:</b> Пн-Вс — 09.00-21.00</p>
                            <p><b>e-mail:</b> <a href="mailto:office@rss.ru">office@rss.ru</a></p>
                        </div>

                        <div class="contact__info--col2">
                            <h5>Реквизиты организации:</h5>
                            <p><b>Санкт-Петербург,<br>
                                пр. Королева, 7</b></p>
                            <p>ИНН 7811594615, КПП 781101001, <br>БИК 044030653</p>
                        </div>

                        <div class="contact__info--col3">
                            <div class="d-flex contact__menu-soc">
                                <h5>Мы в социальных сетях:</h5>
                                <ul class="menu__soc">
                                    <li>
                                        <a href="#" class="soc-vk"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-odnoklassniki"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-whatsapp"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="soc-viber"></a>
                                    </li>
                                </ul>
                            </div>

                            <p class="red-text"><b>Онлайн заявки и заказы с сайта</b><br>
                                принимаются ежедневно и круглосуточно.</p>
                        </div>
                    </div>

                    <div class="contact__map" id="map-msk">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-price border-bottom-0 pb-2">
            <div class="row">
                <div class="col-lg-9">
                    <h2>Рассчитать стоимость услуг дезинфектора</h2>
                    <p><b>Введите контактные данные</b> и мы свяжемся с вами в течении 10 минут. <b>Произведем</b> быстрый
                        расчет
                        стоимости
                        услуг <b>физ.
                            лицам и подготовим коммерческое предложение для юр. лиц.</b></p>
                </div>
            </div>

            <form>
                <div class="form-price__wrap d-none d-md-flex">
                    <div class="form-row">
                        <div class="col-lg-5 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="name" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="name">Имя <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="form-group mb-0 custom-group">
                                <input type="text" placeholder="" class="form-control" id="phone" value=""
                                       onchange="this.setAttribute('value', this.value);">
                                <label for="phone">Телефон <span>*</span></label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <button type="submit" class="btn btn-main w-100">Заказать расчет</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="aside-price d-block d-md-none mb-0 mt-5">
                <div class="aside-price__image">
                    <img src="static/img/content/aside-price.png" alt="">
                </div>

                <div class="aside-price__header">Рассчитать<br>
                    стоимость услуг!</div>

                <form>
                    <div class="form-group custom-group">
                        <input type="text" placeholder="" class="form-control" id="name" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="name">Имя <span>*</span></label>
                    </div>

                    <div class="form-group custom-group">
                        <input type="text" placeholder="" class="form-control" id="phone" value=""
                               onchange="this.setAttribute('value', this.value);">
                        <label for="phone">Телефон <span>*</span></label>
                    </div>

                    <button type="submit" class="btn btn-main">Заказать расчет</button>
                </form>
            </div>

        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="main-certificates white-bg">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Сертификаты</h2>

                <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

                <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                    без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
            </div>

            <div class="certificates-slider__wrap">
                <div class="swiper-container certificates-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="static/img/content/certificates.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev certificates-slider-prev"></div>
                <div class="swiper-button-next certificates-slider-next"></div>
            </div>
        </div>
    </div>

    {{> elements/emblem}}
</div>

{{> footer/footer}}
