.nav-pills {
    margin-bottom: 38px;
    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
    .nav-item {
        margin-right: 18px;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link {
        border-radius: 0;
        border: 1px solid $blue-color;
        box-sizing: border-box;
        padding: 13px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
        color: $blue-color !important;
        transition: all 0.25s;
        background-color: transparent !important;
        &.active {
            color: $black-color !important;
            &:hover {
                color: $blue-color !important;
                text-decoration: underline;
            }
        }
        &:hover {
            color: $blue-color !important;
            text-decoration: underline;
        }
    }
}

.contact {
    &__info {
        background-color: $white-color;
        padding: 58px 43px 58px 58px;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 1200px) {
            padding: 38px 38px 40px;
        }
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            padding: 48px 68px;
        }
        @media screen and (max-width: 768px) {
            padding: 40px 24px 32px 24px;
            flex-direction: column;
        }

        &--col1 {
            width: 300px;
            flex-shrink: 0;

            @media screen and (max-width: 1200px) {
                width: 240px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 22px;
            }

            p {
                margin-bottom: 0 !important;
            }
        }
        &--col2 {
            width: 270px;
            flex-shrink: 0;

            @media screen and (max-width: 1200px) {
                width: 240px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 22px;
            }
        }
        &--col3 {
            width: 351px;
            flex-shrink: 0;

            @media screen and (max-width: 1200px) {
                width: 275px;
            }

            @media screen and (max-width: 992px) {
                width: 100%;
                margin-top: 40px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 0;
            }
            h5 {
                @media screen and (max-width: 992px) {
                    margin: 0 !important;
                }
            }
        }

        h5 {
            @extend %text3;
            font-weight: bold;
            margin-bottom: 18px;
        }

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $black-color;
            margin-bottom: 8px;

            a {
                color: $blue-color;
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    color: $red-color;
                    text-decoration: none;
                }
            }
        }

        b {
            font-weight: 600;
        }

        .menu__soc {
            margin: 10px 0 28px;

            @media screen and (max-width: 992px) {
                margin: 0 0 0 10px;
            }
            @media screen and (max-width: 576px) {
                margin: 28px 0;
            }
        }
    }

    &__menu-soc {
        flex-direction: column;
        @media screen and (max-width: 992px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 28px;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
        }
    }

    &__map {
        height: 484px;

        @media screen and (max-width: 1200px) {
            height: 350px;
        }
    }
}


.menu__soc {
    @include nl;
    display: flex;
    align-items: center;

    li {
        display: block;
        margin-right: 22px;
        flex-shrink: 0;

        @media screen and (max-width: 768px) {
            margin-right: 14px;
        }
        @media screen and (max-width: 576px) {
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    li a {
        display: block;
        width: 28px;
        height: 28px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            transform: scale(1.1);
        }
    }
}
