{{> header/header}}

<div class="main-banner">
    <div class="container">
        <div class="main-banner__wrap">
            <div class="main-banner__title"><span>Избавим</span> Вас от клопов,<br>
                крыс, насекомых навсегда!
            </div>

            <a href="#" class="btn btn-main">Узнать подробнее</a>

            <div class="main-banner__images">
                <img src="static/img/content/pic1.png" alt="" class="image1">
                <img src="static/img/content/pic2.png" alt="" class="image2">
                <img src="static/img/content/pic3.png" alt="" class="image3">
            </div>
        </div>
    </div>
</div>

<div class="main-services">
    <div class="container">
        <div class="main-title">
            <h2>Наши услуги</h2>
        </div>

        <div class="quote">
            <div class="quote__icon"></div>
            <div class="quote__content">
                <p><b>Региональная Санитарная Служба</b> предоставляет услуги населению <b>физическим</b>
                    и <b>юридическим</b> лицам <b>Дезинсекция, Дератизация, Дезинфекция</b>, в <b>Санкт-Петербурге</b>
                    и <b>Ленинградской области</b>.</p>
            </div>
        </div>

        <div class="title-block">
            <h2>Закажите расчет любой услуги прямо сейчас!</h2>
        </div>

        <div class="main-services__slider-wrap d-block d-sm-none">
            <div class="swiper-container main-services__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дезинсекция</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser1.svg" alt="" class="service-img1">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="#">Уничтожаем клопов</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем тараканов</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем муравьев</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем клещей</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем мух</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем ос</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем короеда</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем чешуйниц</a>
                                    </li>
                                    <li>
                                        <a href="#">Обработка участков</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем пауков</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем моль</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем жуков</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дезинфекция</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser2.svg" alt="" class="service-img2">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="#">Дезинфекция бытовых
                                            помещений</a>
                                    </li>
                                    <li>
                                        <a href="#">Дезинфекция
                                            автотранспорта</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем плесень</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем бактерии</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем вирусы</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем запахи</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем грибки</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем запахи
                                            в холодильнике</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Дератизация</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser3.svg" alt="" class="service-img3">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="#">Уничтожаем крыс</a>
                                    </li>
                                    <li>
                                        <a href="#">Уничтожаем мышей</a>
                                    </li>
                                    <li>
                                        <a href="#">Борьба с кротами</a>
                                    </li>
                                    <li>
                                        <a href="#">Договор на дератизацию</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="main-services__item">
                            <div class="main-services__item--header">Для Юридических лиц</div>
                            <div class="main-services__item--image">
                                <img src="static/img/content/ser4.svg" alt="" class="service-img4">
                            </div>
                            <div class="main-services__item--content">
                                <ul>
                                    <li>
                                        <a href="#">Документы для СЭЗ</a>
                                    </li>
                                    <li>
                                        <a href="#">Санитарный аудит</a>
                                    </li>
                                    <li>
                                        <a href="#">Договора для Роспотреб-
                                            надзора</a>
                                    </li>
                                    <li>
                                        <a href="#">Договор на дератизацию</a>
                                    </li>
                                    <li>
                                        <a href="#">Обработка строительных
                                            бытовок и временных
                                            сооружений</a>
                                    </li>
                                    <li>
                                        <a href="#">Фумигация помещений</a>
                                    </li>
                                    <li>
                                        <a href="#">Газация складских
                                            помещений</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev main-services-prev"></div>
            <div class="swiper-button-next main-services-next"></div>
            <div class="swiper-pagination main-services-pagination"></div>
        </div>

        <div class="d-flex main-services__list d-none d-sm-flex">
            <div class="main-services__item">
                <div class="main-services__item--header">Дезинсекция</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser1.svg" alt="" class="service-img1">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="#">Уничтожаем клопов</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем тараканов</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем муравьев</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем клещей</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем мух</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем ос</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем короеда</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем чешуйниц</a>
                        </li>
                        <li>
                            <a href="#">Обработка участков</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем пауков</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем моль</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем жуков</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Дезинфекция</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser2.svg" alt="" class="service-img2">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="#">Дезинфекция бытовых
                                помещений</a>
                        </li>
                        <li>
                            <a href="#">Дезинфекция
                                автотранспорта</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем плесень</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем бактерии</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем вирусы</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем запахи</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем грибки</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем запахи
                                в холодильнике</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Дератизация</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser3.svg" alt="" class="service-img3">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="#">Уничтожаем крыс</a>
                        </li>
                        <li>
                            <a href="#">Уничтожаем мышей</a>
                        </li>
                        <li>
                            <a href="#">Борьба с кротами</a>
                        </li>
                        <li>
                            <a href="#">Договор на дератизацию</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-services__item">
                <div class="main-services__item--header">Для Юридических лиц</div>
                <div class="main-services__item--image">
                    <img src="static/img/content/ser4.svg" alt="" class="service-img4">
                </div>
                <div class="main-services__item--content">
                    <ul>
                        <li>
                            <a href="#">Документы для СЭЗ</a>
                        </li>
                        <li>
                            <a href="#">Санитарный аудит</a>
                        </li>
                        <li>
                            <a href="#">Договора для Роспотреб-
                                надзора</a>
                        </li>
                        <li>
                            <a href="#">Договор на дератизацию</a>
                        </li>
                        <li>
                            <a href="#">Обработка строительных
                                бытовок и временных
                                сооружений</a>
                        </li>
                        <li>
                            <a href="#">Фумигация помещений</a>
                        </li>
                        <li>
                            <a href="#">Газация складских
                                помещений</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {{> elements/manager-price}}
</div>

<div class="main-regional">
    <div class="container">
        <div class="main-regional__wrap">
            <div class="title-block">
                <h2>Региональная Санитарная Служба</h2>
            </div>

            <div class="row justify-content-between">
                <div class="col-lg-8 col-xl-7">
                    <p><b>Наша служба, вот уже много лет, занимается успешной работой на рынке санитарных услуг,
                        предоставляя квалифицированную помощь населению и организациям Санкт-Петербурга
                        и Ленинградской области.</b></p>

                    <p><b>Обращаясь к нам</b>, вы всегда можете рассчитывать
                        на профессиональный подход в решении любых проблем связанных с уничтожением всех видов бытовых
                        насекомых, грызунов и прочих вредителей.</p>

                    <p><b>Наш основной принцип — это качественная работа на результат.</b>
                        За годы работы в этом смогли убедиться тысячи довольных клиентов. Обращайтесь к профессионалам,
                        экономьте своивремя
                        и деньги.</p>

                    <a href="#" class="link d-block d-lg-none">Узнать подробнее о нас</a>

                    <div class="d-flex main-regional__icons">
                        <div class="main-regional__icon1">
                            <img src="static/img/content/pic1.png" alt="">
                        </div>
                        <div class="main-regional__icon2">
                            <img src="static/img/content/pic2.png" alt="">
                        </div>
                        <div class="main-regional__icon3">
                            <img src="static/img/content/pic3.png" alt="">
                        </div>
                    </div>

                    <a href="#" class="link d-none d-lg-block">Узнать подробнее о нас</a>
                </div>

                <div class="col-lg-4">
                    {{> elements/aside-stock}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-choose pb-0">
    <div class="container">
        <div class="d-flex justify-content-between title-block">
            <h2>Почему выбирают нас?</h2>
        </div>

        <div class="d-flex main-choose__wrap">
            <div class="main-choose__item item1">
                <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                <div>
                    <h3>Надежность!</h3>
                    <p><span>5</span> лет на рынке,
                        Гарантии на все
                        виды услуги
                    </p>
                </div>
            </div>

            <div class="main-choose__item item2">
                <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                <div>
                    <h3>Скидки!</h3>
                    <p>Пенсионерам,
                        студентам,
                        инвалидам</p>
                </div>
            </div>

            <div class="main-choose__item item3">
                <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                <div>
                    <h3>Безопасно!</h3>
                    <p>Сертифицированная
                        химия, безопасно
                        для детей и животных</p>
                </div>
            </div>

            <div class="main-choose__item item4">
                <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                <div>
                    <h3>Стоимость!</h3>
                    <p>Доступные
                        цены на все виды
                        работ, акции</p>
                </div>
            </div>

            <div class="main-choose__item item5">
                <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                <div>
                    <h3>Мобильность!</h3>
                    <p>Выезд службы
                        по городу
                        и Лен. области</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-reviews">
    <div class="container">
        <div class="d-flex justify-content-between title-block">
            <h2>Отзывы наших клиентов</h2>
        </div>

        <div class="main-reviews__slider--wrap">
            <div class="swiper-container main-reviews__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-reviews__name">
                            <b>Дмитрий Потапов</b>
                            <data>| 23.03.2019</data>
                        </div>
                        <div class="main-reviews__text">
                            <p>Не думал, что с выведением клопов будет проблема.
                                Почти каждую неделю пробовал разные химикаты,
                                но не помогало. А вот после того как служба
                                дезинфекции провела обработку – все изменилось.
                            </p>
                            <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                мучался бы
                                с клопами еще долго.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-reviews__name">
                            <b>Дмитрий Потапов</b>
                            <data>| 23.03.2019</data>
                        </div>
                        <div class="main-reviews__text">
                            <p>Не думал, что с выведением клопов будет проблема.
                                Почти каждую неделю пробовал разные химикаты,
                                но не помогало. А вот после того как служба
                                дезинфекции провела обработку – все изменилось.
                            </p>
                            <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                мучался бы
                                с клопами еще долго.</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-reviews__name">
                            <b>Дмитрий Потапов</b>
                            <data>| 23.03.2019</data>
                        </div>
                        <div class="main-reviews__text">
                            <p>Не думал, что с выведением клопов будет проблема.
                                Почти каждую неделю пробовал разные химикаты,
                                но не помогало. А вот после того как служба
                                дезинфекции провела обработку – все изменилось.
                            </p>
                            <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                мучался бы
                                с клопами еще долго.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev main-reviews__slider--prev"></div>
            <div class="swiper-button-next main-reviews__slider--next"></div>
        </div>
    </div>
</div>

<div class="main-certificates white-bg">
    <div class="container">
        <div class="d-flex justify-content-between title-block">
            <h2>Сертификаты</h2>

            <a href="#" class="title-block__more">Посмотреть все сертификаты</a>

            <p><b>Все используемые нашей службой средства</b> поступают непосредственно от производителя
                без посредников, что исключает риск приобретения некачественных или поддельных препаратов.</p>
        </div>

        <div class="certificates-slider__wrap">
            <div class="swiper-container certificates-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="static/img/content/certificates.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/content/certificates.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="static/img/content/certificates.png" alt="">
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev certificates-slider-prev"></div>
            <div class="swiper-button-next certificates-slider-next"></div>
        </div>
    </div>
</div>

{{> elements/emblem}}

<div class="main-article">
    <div class="container">
        <div class="d-flex justify-content-between title-block">
            <h2>Интересные статьи</h2>

            <a href="#" class="title-block__more">Перейти к статьям</a>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="main-article__item mb-0" title="">
                    <div class="main-article__image">
                        <img src="static/img/content/article1.png" alt="">
                    </div>

                    <h4>Как найти блох в своей
                        квартире?</h4>
                    <p>Блоха-это бескрылое насекомое
                        с полным превращением,
                        что подразумевает стадию развития, состоящую из трех частей…</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 d-none d-sm-block">
                <a href="#" class="main-article__item mb-0" title="">
                    <div class="main-article__image">
                        <img src="static/img/content/article2.png" alt="">
                    </div>

                    <h4>Как убрать запах гари?</h4>
                    <p>Например, запах гари, который остался в квартире после неудачного приготовления пищи, короткого
                        замыкания…</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 d-none d-md-block">
                <a href="#" class="main-article__item mb-0" title="">
                    <div class="main-article__image">
                        <img src="static/img/content/article3.png" alt="">
                    </div>

                    <h4>Средства от клопов</h4>
                    <p>Клопы – это плодовитые
                        и непредсказуемые ночные паразиты, которые появляются
                        в любых помещениях независимо
                        от гигиенической чистоты…</p>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 d-none d-lg-block">
                <a href="#" class="main-article__item mb-0" title="">
                    <div class="main-article__image">
                        <img src="static/img/content/article4.png" alt="">
                    </div>

                    <h4>Как выглядит таракан?</h4>
                    <p>Блоха-это бескрылое насекомое
                        с полным превращением,
                        что подразумевает стадию развития, состоящую из трех частей…</p>
                </a>
            </div>
        </div>
    </div>
</div>
{{> footer/footer}}
