.main-banner {
    &__wrap {
        background-position: center;
        height: 397px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/content/banner.png");
        position: relative;
        @include box-shadow;
        padding: 84px 50px;
        @media screen and (max-width: 992px) {
            height: 357px;
            padding: 50px 40px;
        }
        @media screen and (max-width: 768px) {
            padding: 30px 15px;
        }

        @media screen and (max-width: 576px) {
            height: 325px;
            padding: 30px 20px;
            box-shadow: none;
            width: calc(100% + 30px);
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    &__title {
        color: $white-color;
        font-family: $font-rodchenko;
        font-size: 54px;
        line-height: 60px;
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -0.5px;
            margin-bottom: 60px;
        }
        @media screen and (max-width: 768px) {
            font-size: 48px;
            line-height: 44px;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 35px;
            font-size: 35px;
            line-height: 40px;
            max-width: 265px;
            br {
                display: none;
            }
        }

        span {
            font-size: 78px;
            @media screen and (max-width: 992px) {
                font-size: 62px;
            }
            @media screen and (max-width: 768px) {
                font-size: 48px;
            }
            @media screen and (max-width: 576px) {
                font-size: 42px;
            }
        }
    }

    &__images {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        width: 300px;
        @media screen and (max-width: 992px) {
            width: 320px;
            height: 94px;
            top: auto;
            right: 60px;
            bottom: 60px;
        }

        @media screen and (max-width: 768px) {
            width: 280px;
            height: 80px;
            right: 15px;
            bottom: 35px;
        }
        @media screen and (max-width: 576px) {
            display: none;
        }

        .image1 {
            width: 143px;
            height: 144px;
            position: absolute;
            right: 40px;
            top: 50px;
            @media screen and (max-width: 992px) {
                width: 94px;
                height: 94px;
                left: 0;
                right: auto;
                top: 0;
            }
            @media screen and (max-width: 768px) {
                width: 80px;
                height: 80px;
            }
        }

        .image2 {
            width: 124px;
            height: 124px;
            display: block;
            position: absolute;
            bottom: 50px;
            left: 0;
            @media screen and (max-width: 992px) {
                width: 94px;
                height: 94px;
                bottom: 0;
                left: 110px;
            }
            @media screen and (max-width: 768px) {
                width: 80px;
                height: 80px;
                left: 100px;
            }
        }

        .image3 {
            width: 106px;
            height: 106px;
            display: block;
            position: absolute;
            bottom: 50px;
            right: 40px;
            @media screen and (max-width: 992px) {
                width: 94px;
                height: 94px;
                bottom: 0;
                right: 0;
            }
            @media screen and (max-width: 768px) {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.main-services {
    padding-top: 90px;

    &__slider-wrap {
        position: relative;
        margin-bottom: 100px;
        .swiper-slide {
            padding: 0 10px 10px 0;
            height: auto;
        }

        .main-services-next, .main-services-prev {
            top: auto;
            bottom: -67px;
        }

        .main-services-next {
            right: auto;
            left: calc(50% + 40px);
        }
        .main-services-prev {
            left: auto;
            right: calc(50% + 40px);
        }

        .swiper-pagination {
            left: auto;
            right: auto;
            bottom: -64px;
            font-size: 18px;
            line-height: 18px;
            color: $black-color;
        }
    }

    .main-title {
        h2 {
            font-size: 30px;
            font-weight: bold;
            line-height: 35px;
            color: $black-color;
            margin-bottom: 46px;
        }
    }

    &__list {
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 576px) {
            display: none !important;
        }
    }

    &__item {
        @include box-shadow;
        width: calc(25% - 20px);
        background-color: $white-color;
        padding: 38px 25px;
        align-self: stretch;
        @media screen and (max-width: 1200px) {
            width: 280px;
            margin-right: 48px;
            margin-bottom: 47px;
        }

        @media screen and (max-width: 768px) {
            width: calc(50% - 10px);
            margin-right: 20px;
            padding: 38px 15px;
        }
        @media screen and (max-width: 576px) {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            padding: 36px 30px;
            height: 100%;
        }

        &:nth-child(2n) {
            @media screen and (max-width: 992px) {
                margin-right: 0;
            }
        }

        &--header {
            font-size: 18px;
            line-height: 22px;
            font-weight: 800;
            color: $black-color;
            padding-bottom: 18px;
            border-bottom: 4px solid $red-color;
        }
        &--image {
            background-image: url("../img/content/bg-img.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            width: 125px;
            height: 70px;
            margin: 28px 0;
            position: relative;
            img {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                right: 0;
            }

            .service-img1 {
                width: 60px;
                height: 61px;
            }
            .service-img2 {
                width: 45px;
                height: 61px;
            }
            .service-img3 {
                width: 146px;
                height: 56px;
                bottom: 5px;
                left: 13px;
                top: auto;
                right: auto;
            }
            .service-img4 {
                width: 83px;
                height: 70px;
            }
        }
        &--content {
            ul {
                @include nl;

                li {
                    position: relative;
                    margin-bottom: 14px;
                    padding-left: 20px;
                    @media screen and (max-width: 768px) {
                        margin-bottom: 9px;
                    }

                    &:after {
                        @include before;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $red-color;
                        position: absolute;
                        left: 0;
                        top: 6px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                li a {
                    display: block;
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $black-color;
                    text-decoration-line: underline;
                    transition: all 0.25s;

                    &:hover {
                        color: $red-color;
                    }
                }
            }
        }
    }
}

.main-choose {
    padding: 77px 0;
    background-color: $mail-color;
    @media screen and (max-width: 768px) {
        padding: 50px 0 40px;
    }

    $f: &;

    &__wrap {
        background-color: $red-color;
        padding: 68px 60px;
        @media screen and (max-width: 1200px) {
            padding: 48px 28px;
        }
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            padding: 48px 35px 40px;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 40px 48px;
        }
    }

    &__icon {
        margin-bottom: 20px;
        display: block;
        height: 77px;
    }

    &__item {
        color: $white-color;
        position: relative;
        padding-right: 78px;
        @media screen and (max-width: 1200px) {
            padding-right: 40px;
        }

        @media screen and (max-width: 768px) {
            padding-right: 0;
            margin-bottom: 35px;
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:after {
            @include before;
            height: 100%;
            width: 0;
            border-right: 1px solid $green-color;
            position: absolute;
            top: 0;
            right: 39px;
            @media screen and (max-width: 1200px) {
                right: 20px;
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &:before {
            @include before;
            width: 100%;
            height: 0;
            border-top: 1px solid $green-color;
            position: absolute;
            left: 0;
            top: -40px;
            display: none;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &:last-child {
            padding-right: 0;

            &:after {
                display: none;
            }
        }

        h3 {
            @extend %h3;
            margin-bottom: 16px;
            @media screen and (max-width: 1200px) {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 15px;
            }
        }

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            margin: 0;
        }

        &.item1 {
            @media screen and (max-width: 992px) {
                width: calc(100% / 3);
                margin-bottom: 40px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        &.item2 {
            @media screen and (max-width: 992px) {
                width: calc(100% / 3);
                margin-bottom: 40px;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        &.item3 {
            @media screen and (max-width: 992px) {
                width: calc(100% / 3);
                padding-right: 0;
                margin-bottom: 40px;
                &:after {
                    display: none;
                }
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        &.item4 {
            @media screen and (max-width: 992px) {
                width: 50%;
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 0;
            }

            &:before {
                @media screen and (max-width: 992px) {
                    display: block;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            #{$f}__icon {
                @media screen and (max-width: 992px) {
                    margin-bottom: 0;
                    margin-right: 25px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
        }

        &.item5 {
            @media screen and (max-width: 992px) {
                width: 50%;
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 0;
            }

            &:before {
                @media screen and (max-width: 992px) {
                    display: block;
                }

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            #{$f}__icon {
                @media screen and (max-width: 992px) {
                    margin-bottom: 0;
                    margin-right: 25px;
                }

                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
        }
    }
}

.main-reviews {
    padding: 77px 0;
    background-color: $mail-color;

    &__slider {
        &--wrap {
            position: relative;
            padding-bottom: 64px;
            max-width: 1040px;
            @media screen and (max-width: 992px) {
                max-width: 500px;
            }
        }

        .swiper-slide {
            width: 500px;
            padding-right: 40px;
            right: auto;
            @media screen and (max-width: 992px) {
                padding-right: 0;
            }
        }

        &--prev {
            top: auto;
            bottom: 0;
            left: 0;
            right: auto;
            @media screen and (max-width: 768px) {
                left: calc(50% - 49px);
            }
        }

        &--next {
            top: auto;
            bottom: 0;
            left: 74px;
            right: auto;
            @media screen and (max-width: 768px) {
                right: calc(50% - 49px);
                left: auto;
            }
        }

        &--pagination {
            bottom: 0;
            width: 50px;
            left: 24px;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            @media screen and (max-width: 768px) {
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }

    &__item {
        max-width: 500px;
        margin-bottom: 48px;
        padding-right: 30px;
        @media screen and (max-width: 768px) {
           padding-right: 0;
        }
    }

    &__name {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;

        data {
            font-weight: 300;
        }
    }

    &__text {
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.main-certificates {
    padding: 77px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    position: relative;

    .certificates-slider {
        padding-right: 10px;
        max-width: 935px;
        margin: auto;

        &__wrap {
            position: relative;
        }

        .swiper-wrapper {
            padding: 0 10px 10px 0;
        }

        .swiper-slide {
            width: 280px;
            height: 330px;
            background: $white-color;
            border: 1px solid $border-color;
            box-sizing: border-box;
            -webkit-box-shadow: 10px 10px 0px 0px rgba(209, 197, 138, 1);
            -moz-box-shadow: 10px 10px 0px 0px rgba(209, 197, 138, 1);
            box-shadow: 10px 10px 0px 0px rgba(209, 197, 138, 1);
            padding: 5px 20px;
            position: relative;

            img {
                position: absolute;
                @include full-img;
                @include full;
                object-fit: contain;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                display: block;
            }
        }

        &-next {
        }

        &-prev {
        }
    }
}

.main-article {
    padding: 80px 0;
    background-color: $mail-color;
    $f: &;

    &__item {
        display: block;
        text-decoration: none;
        margin-bottom: 30px;

        &:hover {
            text-decoration: none;

            #{$f}__image img {
                transform: scale(1.1);
            }

            h4 {
                color: $red-color;
            }
        }

        h4 {
            @extend %h4;
            color: $black-color;
            margin-bottom: 8px;
            transition: all 0.25s;
        }

        p {
            @extend %text;
            color: $black-color;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical
        }
    }

    &__image {
        position: relative;
        margin-bottom: 20px;
        height: 152px;
        overflow: hidden;

        img {
            @include pos-absolute;
            @include full-img;
            @include full;
            transform: scale(1);
            transition: all 0.25s;
        }
    }
}

.main-regional {
    &__wrap {
        padding: 78px 0 58px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        p {
            font-size: 18px;
            line-height: 26px;
            color: $black-color;
            font-weight: 400;
            margin-bottom: 28px;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        b {
            font-weight: bold;
        }
    }

    &__icons {
        margin-bottom: 50px;
        align-items: center;
        @media screen and (max-width: 992px) {
            margin-top: 38px;
        }
        @media screen and (max-width: 576px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 576px) {
            padding: 30px 0 40px;
        }
    }

    &__icon1 {
        width: 143px;
        height: 143px;
        flex-shrink: 0;
        margin-right: 50px;
        img {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            margin-right: 40px;
        }
        @media screen and (max-width: 576px) {
            width: 76px;
            height: 76px;
            margin-right: auto;
        }
    }

    &__icon2 {
        width: 124px;
        height: 124px;
        flex-shrink: 0;
        margin-right: 50px;
        img {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            margin-right: 40px;
        }
        @media screen and (max-width: 576px) {
            width: 76px;
            height: 76px;
            margin-right: auto;
        }
    }

    &__icon3 {
        width: 106px;
        height: 106px;
        flex-shrink: 0;
        img {
            width: 100%;
        }
        @media screen and (max-width: 576px) {
            width: 76px;
            height: 76px;
        }
    }

    .aside-stock {
        margin-bottom: 0;
    }
}
