{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>FAQ</li>
            </ul>
        </div>

        <div class="page__title">
            <h2>FAQ</h2>
        </div>

        <div class="row faq__wrap">
            <div class="col-lg-8">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                             aria-controls="collapseOne" id="headingOne">
                            Откуда и почему дома появляются клопы?
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Куда обращаться если мы обнаружили на теле укусы клопов?
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse"
                             data-target="#collapseThree" aria-expanded="false"
                             aria-controls="collapseThree">
                            Насколько дезинфекция вредна для детей и домашних животных?
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour" data-toggle="collapse"
                             data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Чем отличается стандартная обработка от обработки
                            генератором тумана?
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive" data-toggle="collapse"
                             data-target="#collapseFive" aria-expanded="false"
                             aria-controls="collapseFive">
                            Почему обработка "Без запаха" или туманом дороже обычной?
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix" data-toggle="collapse"
                             data-target="#collapseSix" aria-expanded="false"
                             aria-controls="collapseSix">
                            Через какое время после обработки должны исчезнуть клопы?
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven" data-toggle="collapse"
                             data-target="#collapseSeven" aria-expanded="false"
                             aria-controls="collapseSeven">
                            Клопы в диване, клопы в кровати как избавиться?
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight" data-toggle="collapse"
                             data-target="#collapseEight" aria-expanded="false"
                             aria-controls="collapseEight">
                            Можно или нет уничтожить клопов самостоятельно?
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNine" data-toggle="collapse"
                             data-target="#collapseNine" aria-expanded="false"
                             aria-controls="collapseNine">
                            Что нужно сделать перед приездом мастера?
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTen" data-toggle="collapse"
                             data-target="#collapseTen" aria-expanded="false"
                             aria-controls="collapseTen">
                            Сколько времени занимает обработка квартиры?
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Способов заражения клопами существует довольно много.
                                    Даже если в вашей квартире чистота и порядок, клопов могли занести гости или вы сами
                                    могли принести их на одежде, клопы могли перебраться к вам от соседей, также нередки
                                    случаи заражения клопами с приобретением новой мебели. Точную причину заражения,
                                    установить практически невозможно.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <a href="#" class="pagination__prev"></a>
                    <div class="pagination__count">1/14</div>
                    <a href="#" class="pagination__next"></a>
                </div>
            </div>


            <div class="col-lg-4 d-none d-lg-block">
                {{> elements/aside-price}}

                {{> elements/aside-stock}}
            </div>
        </div>

        <div class="d-none d-md-block">
            {{> elements/form-price}}
        </div>
    </div>

    <div class="main-choose pb-0">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Почему выбирают нас?</h2>
            </div>

            <div class="d-flex main-choose__wrap">
                <div class="main-choose__item item1">
                    <img src="static/img/content/icon-c1.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Надежность!</h3>
                        <p><span>5</span> лет на рынке,
                            Гарантии на все
                            виды услуги
                        </p>
                    </div>
                </div>

                <div class="main-choose__item item2">
                    <img src="static/img/content/icon-c2.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Скидки!</h3>
                        <p>Пенсионерам,
                            студентам,
                            инвалидам</p>
                    </div>
                </div>

                <div class="main-choose__item item3">
                    <img src="static/img/content/icon-c3.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Безопасно!</h3>
                        <p>Сертифицированная
                            химия, безопасно
                            для детей и животных</p>
                    </div>
                </div>

                <div class="main-choose__item item4">
                    <img src="static/img/content/icon-c4.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Стоимость!</h3>
                        <p>Доступные
                            цены на все виды
                            работ, акции</p>
                    </div>
                </div>

                <div class="main-choose__item item5">
                    <img src="static/img/content/icon-c5.svg" class="main-choose__icon" alt="">
                    <div>
                        <h3>Мобильность!</h3>
                        <p>Выезд службы
                            по городу
                            и Лен. области</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-reviews">
        <div class="container">
            <div class="d-flex justify-content-between title-block">
                <h2>Отзывы наших клиентов</h2>
            </div>

            <div class="main-reviews__slider--wrap">
                <div class="swiper-container main-reviews__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="main-reviews__name">
                                <b>Дмитрий Потапов</b>
                                <data>| 23.03.2019</data>
                            </div>
                            <div class="main-reviews__text">
                                <p>Не думал, что с выведением клопов будет проблема.
                                    Почти каждую неделю пробовал разные химикаты,
                                    но не помогало. А вот после того как служба
                                    дезинфекции провела обработку – все изменилось.
                                </p>
                                <p>Они за пару часов справились с ними. Если бы не Региональная Санитарная Служба, то
                                    мучался бы
                                    с клопами еще долго.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev main-reviews__slider--prev"></div>
                <div class="swiper-button-next main-reviews__slider--next"></div>
            </div>
        </div>
    </div>

    <div class="border-top">
        {{> elements/emblem}}
    </div>
</div>

{{> footer/footer}}
