.card {
    background-color: $white-color;
    margin-bottom: 18px;
    border-radius: 0;
    border: none;
    max-width: 700px;
    width: 100%;
    @media screen and (max-width: 576px) {
        margin-bottom: 20px;
    }

    &-header {
        padding: 38px 80px 38px 38px;
        border-radius: 0;
        border: none;
        background-color: transparent;
        position: relative;
        @extend %text2;
        color: $black-color;
        font-weight: bold;
        cursor: pointer;
        @media screen and (max-width: 576px) {
           padding: 30px 50px 30px 20px;
            font-size: 16px;
            line-height: 24px;
        }

        &:after {
            @include before;
            width: 24px;
            height: 16px;
            position: absolute;
            top: 40px;
            right: 40px;
            cursor: pointer;
            @include bg-svg($card-arrow-top);
            transform: rotate(180deg);
            transition: all 0.25s;
            @media screen and (max-width: 576px) {
                top: 20px;
                right: 20px;
            }
        }

        &[aria-expanded="true"] {
            margin-bottom: -20px;
            &:after {
                transform: rotate(0);
            }
        }
    }

    &-body {
        border-radius: 0;
        border: none;
        padding: 0px 80px 38px 38px;
        @extend %text2;
        line-height: 24px;
        font-weight: 300;
        color: $black-color;
        @media screen and (max-width: 576px) {
            padding: 0 20px 30px 20px;
            font-size: 16px;
            line-height: 24px;
        }

        p {
            @extend %text2;
            line-height: 24px;
            font-weight: 300;
            margin-bottom: 20px;
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.accordion {
    margin-bottom: 30px;
}

.faq__wrap {
    border-bottom: 1px solid $border-color;
    padding-bottom: 47px;

    .pagination {
        margin-top: 48px;
    }
}
